@using System.Web.Script.Serialization
@using WebApp.Extensions
@model Model.ViewModel.Personnel.LeaveReqViewModel
@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}
<div id="pageTabs"></div>
<div id="docWindow"></div>

<script src="~/Scripts/starwars.js"></script>
<link href="~/Content/starwars.css" rel="stylesheet" />
<style>
    .omegaform .rate_row {
        display: inline-block;
        margin-left: 30px;
    }

    .omegaform.rtl .rate_row {
        margin-right: 30px;
        margin-left: 0px;
    }
</style>

<script>
    FormJs.DrawTabs("pageTabs"); // "AcceptedLeaves"

    $("#t_WorkFlow").click(function(){
        $('#tab_WorkFlow').load("@Url.Action("WorkFlow", "Log")?Source=Leave&SourceId=@Model.TypeId&DocumentId=@Model.Id&RoleId=@Request.QueryString["RoleId"]&ObjectName=LeaveRequest&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_AudiLog").click(function(){
        $('#tab_AudiLog').load("@Url.Action("Log", "Log", new { id = Model.Id })?RoleId=@Request.QueryString["RoleId"]&ObjectName=LeaveRequest&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_GeneralInfo").click(function () {
        $("#tab_GeneralInfo").html("<div id='AcceptedLeavesDiv'></div>");
        LaeveRequesForm();
    });

    $("#t_GeneralInfo").click();

    // Back to index
    //var oldPage = localStorage.getItem("menuhigh").split(",");
    //oldulr = $("#"+ oldPage[2] + " a").attr("href");
    var model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model));

    function LaeveRequesForm () {
        var approvalStatus = [
         { id: 2, name: '@MsgUtils.Instance.Trls("Submit")' },
         { id: 5, name: '@MsgUtils.Instance.Trls("Accepted")' },
         { id: 6, name: '@MsgUtils.Instance.Trls("Approved")' },
         { id: 9, name: '@MsgUtils.Instance.Trls("Rejected")' }
        ];
        var Employees = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Employees))
        var CanselReasons = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.CanselReasons));
        var formId = "AcceptedLeaves";
        var url = "@Url.Action("ReadFormInfo", "Pages")";

        $.getJSON(url, { objectname: 'LeaveReqFollowUpForm', version: "@Request.QueryString["Version"]", RoleId: "@Request.QueryString["RoleId"]" }, function (data) {
            data.FormAction = "@Url.Action("FollowupDetails", "LeavePosting")";
            data.FormId = formId;
            data.Culture = '@culture';
            data.TableName = "LeaveRequests";
            data.companyId = "@User.Identity.GetDefaultCompany()";
            data.admin = '@admin';
            data.rtl = @rtl.ToString().ToLower();
            data.HasEditControls = false;
            data.btns = ["back", "doc"];

            $("#AcceptedLeavesDiv").Forms(data, model);

            FormJs.fillOptionsDynamic($("#" + formId), "ReplaceEmpId", Employees, model);
            FormJs.fillOptionsDynamic($("#" + formId), "ApprovalStatus", approvalStatus, model);

            $("#" + formId + " div[name='rejectSec']").parents(".set").css("display","none");
            $("#" + formId + " [name='startSec']").css("display","none");
            $("#" + formId + " [name='endSec']").css("display","none");

            $("#"+ formId + " [data-role='datepicker']").each(function (index, item) { $(item).data("kendoDatePicker").readonly();});
            $("#"+ formId + " select").each(function(index, item) {
                if($(item).data("kendoDropDownList")) $(item).data("kendoDropDownList").enable(false);
            });
            $("#" + formId + " #ActualNofDays").attr("readonly", "readonly");
            $("#" + formId).find('#saveChanges').val('@MsgUtils.Instance.Trls("CancelRequest")');
            $("#" + formId).find('#saveChanges').removeClass("btn-success").addClass("btn-primary");
            $("#" + formId).find('#Ok').val('@MsgUtils.Instance.Trls("Ok")');

            //----Stars----
            $("#" + formId + " #ActualNofDays").after('<div class="rate_row"></div>');
            $("#" + formId + " .rate_row").starwarsjs({ stars : 5, count : 1, default_stars: model.Stars, disable: 0});  // 0=disabled
            //----EndStars----

            $("#" + formId).on('click', '#saveChanges', function () {
                FormJs.fillOptionsDynamic($("#LeaveCancel"), "CancelReason", CanselReasons, null, {hasFilter: false});
                $("#LeaveCancel").modal('show');
            });

            $("#docWindow").kendoWindow ({
                title: "@MsgUtils.Instance.Trls("LeaveRequestWindow")",
                minWidth: "1000px",
                width: "80%",
                height: "80%",
                actions: ["Minimize", "Maximize", "Close"],
                visible: false,
                close: function() {
                    $("#Documents").fadeIn();
                    $("#Documents #nofdocs").text($("#docWindow table > tbody > tr.template-download").length);
                    $("#docWindow").empty();
                }
            });
            $("#Documents").on("click", function() {
                $("#docWindow").data("kendoWindow").refresh("/FileUpload/Edit?Source=LeaveRequest&SourceId="+ @Model.Id).center().open();
                $("#Documents").fadeOut();
            });

        });

        $("#LeaveCancel").on("click","#Ok",null,function(){
            $.post("/LeavePosting/CancelAccepted", { Id: model.Id, Reason: $("#CancelReason").val(),Desc:$("#CancelDesc").val() }, function (res) {
                if (res == "Ok") {
                    $("#LeaveCancel").modal("hide");

                    toastr.success("@MsgUtils.Instance.Trls("Cancelled Successfully")");

                    updateHistory(oldUlr);
                    $(".modal-backdrop").remove();

                } else {
                    toastr.error(res);
                    $("#LeaveCancel").modal("hide");
                }
            });
        });

    }
</script>

<div class="modal fade" id="LeaveCancel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@MsgUtils.Instance.Trls("Cancel")</h4>
            </div>
            <div id="bodyContainer" class="modal-body omegaform @(rtl? "rtl" : "")" tabindex="0">
                <div class="set panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="CancelReason" class="control-label col-sm-2 col-md-2 col-lg-2">
                                <span class="lblSpan">@MsgUtils.Instance.Trls("CancelReason")</span>
                            </label>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <select allowed="true" name="CancelReason" isvisible="true" id="CancelReason" class="form-control k-valid" style="cursor: pointer;">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CancelDesc" class="control-label col-sm-2 col-md-2 col-lg-2">
                                <span class="lblSpan">@MsgUtils.Instance.Trls("CancelDescription")</span>
                            </label>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <textarea name="CancelDesc" isvisible="true" rows="2" id="CancelDesc" class="form-control" style="max-width: 995px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="Cancel">@MsgUtils.Instance.Trls("Cancel")</button>
                <button type="button" class="btn btn-primary submit" id="Ok">@MsgUtils.Instance.Trls("Ok")</button>
            </div>
        </div>
    </div>
</div>