@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{
    ViewBag.Title = "Index";
    Layout = null;
    var rtl = User.Identity.RTL();
    var admin = User.IsInRole("Admin");
    int dataLevel = 4, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];

}
<br>
<div id="LeaveActionDiv"></div>
<script>
    var TransType=@Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.TransType));
    var Posted=@Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Posted));
    function Exist(data) {
        if (data.HasImage)
            return "url(../SpecialData/Photos/" +@User.Identity.GetDefaultCompany().ToString() +"/" + data.empId + ".jpeg?dummy=" + (new Date().getTime()) + ")"
        else
            return "url(/SpecialData/Photos/noimage.jpg)"
    }
    
    var objectName = "LeaveActions";
    Grids.indexGrid({
        read: "@Url.Action("GetLeaveAction", "LeaveAction")?MenuId=@Request.QueryString["MenuId"]",
        edit: "@Url.Action("Details", "LeaveAction")",
        del: "@Url.Action("DeleteLeaveaction", "LeaveAction")",
        show: "@Url.Action("Details", "LeaveAction")",
        lang: "@User.Identity.GetCulture()",
        objectName: objectName,
        recordName: "EmpId",
        gridName: "LeaveActionDiv",
        admin: "@admin",
        columns:("@(dataLevel < 2 || read == 1 || ((function != null && function.Length > 0) ? !Array.Exists(function, f => f == "Posting") : true))" == "True" ?
            [{ field: "post", input: "none"},{
                field: "EmpId", template: "<div class='k-people-photo' " +
                    "style='background-image: #:Exist(data)# '></div>" +
                    "&nbsp;<i class='ace-icon fa fa-circle stat#:EmpStatus#'></i>&nbsp;<div class='k-people-name'>#: EmpId #</div>", locked: true
            }]: 
            [{
                field: "EmpId", template: "<div class='k-people-photo' " +
                    "style='background-image: #:Exist(data)# '></div>" +
                    "&nbsp;<i class='ace-icon fa fa-circle stat#:EmpStatus#'></i>&nbsp;<div class='k-people-name'>#: EmpId #</div>", locked: true
            },{
                field: "post",
                command: {
                    text:'@MsgUtils.Instance.Trls("Post")', click: function (e) {
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        $.getJSON("/LeaveAction/PostLeaveAction", { objId: dataItem.Id }, function (res) {
                            toastr.success('@MsgUtils.Instance.Trls("PostTransSucess")');
                            $("#LeaveActionDiv").data("kendoGrid").dataSource.read();
                        });
                    },
                }
            },{
                field: "TransType", values: TransType
            }]),
        select: { "TransType": TransType }
    });
</script>

@Html.Partial("_IndexGrid", new ViewDataDictionary {
    { "AddRecord", @Url.Action("Details", "LeaveAction") },
      { "Admin", admin}, { "GridName", "LeaveActionDiv" },{"objectName" , "LeaveActions"}, {"Functions",ViewBag.Functions} })















