@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    Layout = null;
    var admin = User.IsInRole("Admin");
    var rtl = User.Identity.RTL();
    var culture = User.Identity.GetCulture();
    var version = Request.QueryString["Version"];
    int dataLevel = 4, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];
}
@Html.Partial("_RequestFilters", new ViewDataDictionary { { "GridName", "MoneyBalnaceDiv" }, { "HasDepts", "false" },{ "Functions", function },{ "HasRange", "false" }, { "TableName", "LeaveAdjusts" }})
<div id="MoneyBalnaceDiv"></div>
<div id="AdjustWindow"></div>
<script>
    var addUrl = "@Url.Action("AddNewAdjustment", "LeaveAction")";
    RequestFilters.ApplayAllFilters([], {}, "MoneyBalnaceDiv", "@Url.Action("ReadLeaveAdjust", "LeaveAction")?MenuId=@Request.QueryString["MenuId"]", addUrl);
    var LeaveTypes = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.GridLeaveTypes));
    var Periods = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Periods));
    var TransType = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.TransType));
    Grids.indexGrid({
        read: "@Url.Action("ReadLeaveAdjust", "LeaveAction")",
        del: "@Url.Action("DeleteLeaveAdjust", "LeaveAction")",
        objectName: "LeaveAdjust",
        recordName: "Employee",
        gridName: "MoneyBalnaceDiv",
        admin: "@admin",
        lang: "@User.Identity.GetCulture()",
        toolbar:'<div></div>',
        columns: [{ field: "TypeId", values: LeaveTypes },{ field: "PeriodId", values: Periods },{field:"TransType",values:TransType}],
        select: { "TypeId": LeaveTypes ,"PeriodId":Periods,"TransType":TransType}
    });

    $("#AdjustWindow").kendoWindow ({
        title: "@MsgUtils.Instance.Trls("Exchange Balance")",
        minWidth: "500px",
        width: "45%",
        height: "65%",
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        close: function() {
            $(".btn.glyphicon.glyphicon-plus.ajaxify.btn-default").fadeIn();
            $("#AdjustWindow").empty();
        },
        animation: {
            open: {
                effects: "slideIn:left fadeIn",
                duration: 1000
            }
        }
    });


    $('#AddRecord').unbind("click");

    $('#AddRecord').click(function (e) {
        console.log("here"); 
        e.preventDefault();
        addNewAdjustment();
    });

    function addNewAdjustment()
    {
        $("#AdjustWindow").data("kendoWindow").refresh("/LeaveAction/AddNewAdjustment?RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]").center().open();
        $(".btn.glyphicon.glyphicon-edit.ajaxify.btn-default").fadeOut();
    };

</script>

