@model Models.Domain.OrgChart

<style>
    div.k-edit-form-container {
        width: 600px !important;
    }
    div.k-edit-form-container input {
        height: 22px;
        width: 89%;
    }
</style>

<h4 style="padding-left: 10px"><b>Edit Company</b></h4>
<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)

<div class="form-group col-xs-10">
    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-xs-12" })
    <div class="col-xs-3">
        <input type="text" class="form-control" id="Code" placeholder="Name" data-bind="value:Code">
        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group col-xs-11">
    @*<label for="Name" class="col-xs-12">Name</label>*@
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-xs-12" })
    <div class="col-xs-12">
        <input type="text" class="form-control" id="Name" placeholder="Name" data-bind="value:Name">
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
</div>


<div class="form-group col-xs-5">
    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.EditorFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group col-xs-5">
    @Html.LabelFor(model => model.EndDate, htmlAttributes: new {@class = "col-xs-12"})
    <div class="col-xs-12">
        @Html.EditorFor(model => model.EndDate)
        @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group col-xs-5">
    @Html.LabelFor(model => model.OrgType, htmlAttributes: new {@class = "col-xs-9"})
    <div class="col-xs-9">
        @Html.DropDownList("OrgType", null, htmlAttributes: new {@class = "form-control", style = "height: 20px" })
        @*<select class="form-control" id="OrgType" data-bind="value:OrgType" style="height: 20px">
            <option value="1">Holding Group</option>
            <option value="2">Company</option>
        </select>*@
        @Html.ValidationMessageFor(model => model.OrgType, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group col-xs-5">
    @Html.LabelFor(model => model.Color, new {@class = "col-xs-10"})
    <div class="col-xs-10">
        <input type="color" class="form-control" id="Color" placeholder="Color" data-bind="value:Color">
        @Html.ValidationMessageFor(model => model.Color, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group col-xs-11">
    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-xs-12" })
    <div class="col-xs-12">
        <input type="text" class="form-control" id="Address" placeholder="Address" data-bind="value:Address">
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>
</div>

