@using System.Web.Script.Serialization
@using WebApp.Extensions
@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}

<link href="~/Content/fonts/Simple-Line-Icons.woff" rel="stylesheet" />
@Html.Partial("_FormButtons")

<div id="pageTabs"></div>

<div id="waitWindow">@MsgUtils.Instance.Trls("takeWhile") <img id="compLoadImg" src="~/Content/Default/loading-image.gif" /></div>
<div id="ProfPic"></div>
<br />
<div id='companyTab'></div>



<script src="~/Scripts/cultures/lang.js"></script>
<script>
    $(function () {
        showToolbar([1,3,8]);
        FormJs.DrawTabs("pageTabs"); // "CompanyProfile"
        var model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model))
        var Language = lang.getList("@culture");
        var Country = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.country))

       $("#t_Partners").click(function ()
       {
           //showToolbar([]);
           $("#tab_GeneralInformation").empty();
           $('#tab_Partners').load("@Url.Action("Partners", "Company", new { id = Model.Id })?RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
       });

        var formId = "CompanyForm";

        $("#t_GeneralInformation").click(function(e)
        {
            $('#tab_Partners').empty();
            $("#tab_GeneralInformation").html("<div id='companyTab'></div>");
            var url = "@Url.Action("ReadFormInfo", "Pages")";
            var read = "@Request.QueryString["Read"]";
            $.ajax({
                async: false,
                url: "@Url.Action("ReadFormInfo","Pages")",
                type: "GET",
                dataType: "json",
                contentType: 'application/json',
                data: { objectname: 'Company', version: "@Request.QueryString["Version"]", roleId: "@Request.QueryString["RoleId"]"},
                success: function (data) {
                    data.FormAction = "@Url.Action("Details", "Company")";
                    data.FormId = formId;
                    data.Culture = '@culture';
                    data.TableName = "Companies";
                    data.companyId = "@User.Identity.GetDefaultCompany()";
                    data.admin = '@admin';
                    data.btns = ["back", "doc"];
                    if(read == 1) data.mode = 'show';
                    data.rtl = @rtl.ToString().ToLower();

                    $("#companyTab").Forms(data, model);
                    FormJs.fillOptionsDynamic($("#" + formId), "Language", Language, model);
                    FormJs.fillOptionsDynamic($("#" + formId), "CountryId", Country, model);
                    $("#waitWindow").kendoWindow({
                        title: "@MsgUtils.Instance.Trls("Please Wait")",
                        actions: [], //to remove close btn
                        width: "40%",
                        height: "100",
                        visible: false
                    });
                    var waitWindow = $("#waitWindow").data("kendoWindow");

                    var myForm = $("#" + formId);
                    myForm.find('#saveChanges').val('@MsgUtils.Instance.Trls("SaveChanges")');
                    myForm.find('#saveAndClose').val('@MsgUtils.Instance.Trls("saveAndClose")');

                    myForm.on('click','#saveChanges', function (e) {
                        if(myForm.find(".k-invalid").length > 0) return ;
                        var validator = myForm.kendoValidator().data("kendoValidator"), isValid = myForm.find(".k-invalid").length == 0;
                        if (isValid) isValid = validator.validate();

                        if (isValid) {
                            if(model.Id == 0 )
                                waitWindow.center().open();

                            FormJs.saveForm(myForm, $(this), function (res) {
                                //res is saved company Id
                                waitWindow.close();
                                toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                                $("#Documents").attr("disabled", false);
                                updateHistory(oldUlr);
                                model = res;
                            });
                        }
                    });

                    myForm.on('click', '#saveAndClose', function (e) {
                        if(myForm.find(".k-invalid").length > 0) return ;
                        var validator = myForm.kendoValidator().data("kendoValidator"), isValid = myForm.find(".k-invalid").length == 0;
                        if (isValid) isValid = validator.validate();

                        if (isValid) {
                            if(model.Id == 0 )
                                waitWindow.center().open();

                            FormJs.saveForm(myForm, $(this), function (res) {
                                waitWindow.close();
                                toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                                $("#browselogo").attr("disabled", false);
                                updateHistory(oldUlr);
                            });
                        }
                    });
                }
            });

            // $(".tab-content").wrapAll("<div class='col-lg-10 col-sm-12 col-md-12'></div>");


            var markup = "<div class='form-group col-lg-2 col-sm-5 col-md-5 imgSec'>"+
                            "<div class='picDiv'>"+
                                "<img src='' id='myimage' style='height:inherit; width:inherit' />"+
                            "</div>"+
                            "<div class='picBtns'>"+
                                "<button class='col-sm-9 btn-md btn-primary' value='Browse' onclick='drawPic(this,event)' id='browselogo'>@MsgUtils.Instance.Trls("Browse")</button>"+
                            "</div>"+
                            "</div>";

            if(!$("#myimage").is(":visible"))
                $(".tab-content").parent().prepend(markup);

            if($("#" + formId + " #Id").val() == -1){
                $("#browselogo").attr("disabled", true);
            }

            var sourceId = $("#Id").val();

            $.get("@Url.Action("GetImage", "Pages")", { id: sourceId, source: "CompanyLogo" }, function (res) {
                var image = document.getElementById("myimage");
                if (image) image.src = (res ? 'data:image/jpg;base64,' + res : "/Content/Photos/systemnoimage.jpg");
            });

        });
        $("#t_GeneralInformation").click();
    });
    function drawPic(elem,e){
        var myelem = elem;
        $("#ProfPic").kendoWindow({
            title: "@MsgUtils.Instance.Trls("Profile Picture")",
            minWidth: "1000px",
            width: "60%",
            height: "75%",
            actions: ["Minimize", "Maximize", "Close"],
            visible: false,
            close: function() {
                $(myelem).removeClass("hidden");
                $("#ProfPic").empty();
            }

        });
        var sourceId = $("#Id").val();

        $("#ProfPic").data("kendoWindow").refresh("/People/CropPic?Source=CompanyLogo&SourceId="+sourceId).center().open();

        $(myelem).addClass("hidden");
    }

</script>





