
@{
    ViewBag.Title = "Index";
    var admin = User.Identity.CanCustomize();
    var rtl = User.Identity.RTL();
    var grid = ViewData["GridName"];
    Layout = null;
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);

}
@using WebApp.Extensions

<div id="partners"></div>

<script>

    var objectName = "CompanyPartners";

    Grids.batchGrid({
        read: "@Url.Action("ReadCompanyPartners", "Company", new { id = ViewBag.Id })",
        update: "@Url.Action("UpdatePartner", "Company")",
    create: "@Url.Action("CreatePartner", "Company")",
    destroy: "@Url.Action("DeletePartner", "Company")",
    parentColumnName: "CompanyId", // hidden column that link master record with child record
    parentColumnId: @ViewBag.Id, // used to auto fill parentColumnName in parameters mapping
    admin: "@admin", // Admin role
        lang: "@User.Identity.GetCulture()",
    objectName: objectName, // name of the page or table name used to create local db key
    gridName: "partners",
    columns: [{ field: "Address", editor: addressEditor }], // for customer editor, you can use fields to custom validations
    fields:{CreatedUser:{editable:false},CreatedTime:{editable:false},ModifiedUser:{editable:false},ModifiedTime:{editable:false}},
    });

    var currentItem;

    function addressEditor(container, options) {
        // create an input element <br/><a href="\#" id="btnDetails">Edit Address</a>
        var input = $('<textarea id="addDetails" rows="3" style="width: 90%; margin-bottom: 0; background: transparent; border: none" readonly maxlength="100"/>');
        //data-toggle="modal" data-target="#DetailsPopup"
        // set its name to the field to which the column is bound ('Telephone' in this case)
        input.attr("name", options.field);

        // append it to the container
        input.appendTo(container);

        $('#addDetails').focus(function(e) {
            e.preventDefault();
            var url = $('#DetailsPopup').data('url');
            var id = options.model.AddressId || 0;

            // get current item
            currentItem = $("#partners").data("kendoGrid").dataItem($(e.currentTarget).closest("tr")).uid;

            //$('#bodyContainer').load(url, {addressId: id}, function(data) {
            //    $('#DetailsPopup').modal('show');
            //});

            $.get(url +  "?Version=@Request.QueryString["Version"]", {addressId: id}, function(data) {
                $('#bodyContainer').html(data);
                $('#DetailsPopup').modal('show');

            });
        });

    }

    // Attach listener to Save changes so that when the button is pressed the modal dialog disappears
    $('#DetailsPopup').on('click', '#saveAddress', null, function () {
        FormJs.saveForm($("#AddressForm"), $(this), function(data) {
            $('#DetailsPopup').modal('hide');

            var address = data.Address1  + (data.Address2 ? ", " + data.Address2 : "") + (data.Address3 ? ", " + data.Address3 : "");
            var row = $("#partners [data-uid=" + currentItem + "]");

            var td = $(row).find("#grid_active_cell");
            $(td).text(address);
            model = $("#partners").data("kendoGrid").dataItem(row);
            model.set("Address", address);
            model.set("AddressId", data.Id);

            // only save grid for new records
            //if (currentItem.Id == null) {
            //    $("#partners").data("kendoGrid").saveChanges();
            //}
            toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
        });
    });

    </script>



@Html.Partial("_BatchGrid", new ViewDataDictionary { { "Admin", admin }, { "GridName", "partners" }, { "ObjectName", "CompanyPartners" } })

<div class="modal fade" id="DetailsPopup" data-url='@Url.Action("GetAddress", "Company")' tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Address</h4>
            </div>
            <div id="bodyContainer" class="modal-body" tabindex="0">
                
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>*@
       </div>
    </div>
</div>






