@using System.Web.Script.Serialization
@using WebApp.Extensions

@{
    ViewBag.Title = "ViewProfile";
    var admin = User.IsInRole("Admin");
    var rtl = User.Identity.RTL();
    Layout = null;

}



<div id="myProfile"></div>
<br />
<br />

<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/cultures/lang.js"></script>
<script src="~/Scripts/cultures/timezone.js"></script>

<script>
    var user = {};

    //var oldPage = localStorage.getItem("menuhigh").split(",");
    //var oldulr = $("#"+oldPage[2] + " a").attr("href");

    var timezoneSrc = timeZoneList.getTimeZone("@User.Identity.GetLanguage()");
    var myCulture = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Culture));
    var company = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.UserCompanies));
    var country = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Country));

    var langs = lang.getList("@User.Identity.GetLanguage()"), cultureList = [];
    if(myCulture) {
        for(var i=0; i < langs.length; i++) {
            if(myCulture.indexOf(langs[i].id) != -1) {
                var obj = {id: langs[i].id, name: langs[i].name };
                cultureList.push(obj);
            }
        }
    }
    user = @Html.Raw((new JavaScriptSerializer()).Serialize(Model));
    var objectname = "Profile", formId = "profile";

    //-- Form
    $.getJSON("@Url.Action("ReadFormInfo", "Pages")", { objectname: objectname, version: 0 }, function (data) {
        data.FormId = formId;
        data.TableName ="AspNetUsers";
        data.FormAction = "@Url.Action("SaveProfile", "Users")";
        data.Culture = "@User.Identity.GetCulture()";
        data.rtl = @rtl.ToString().ToLower();
        data.companyId = "@User.Identity.GetDefaultCompany()";
        data.admin = "@admin";
        data.HasEditControls = false;
        //for Unique Validation
        if(user != null)  user.Id = "@TempData["id"]";

        $("#myProfile").Forms(data, user);

        var isSuper = "@ViewBag.isSuper";
       
        var Infolog = [{id:0, name:"@MsgUtils.Instance.Trls("All")"}, {id:2, name:"@MsgUtils.Instance.Trls("Errors and warnings")"}, {id:3, name:"@MsgUtils.Instance.Trls("Errors only")"}, {id:4, name:"@MsgUtils.Instance.Trls("None")"}];

        FormJs.fillOptionsDynamic($("#" + formId), "Infolog", Infolog, user);
        FormJs.fillOptionsDynamic($("#" + formId), "Culture", cultureList, user);
        FormJs.fillOptionsDynamic($("#" + formId), "TimeZone", timezoneSrc, user);
        FormJs.fillOptionsDynamic($("#" + formId), "DefaultCountry", country, user);

        if("@ViewBag.adminUser" != "True") {
            $("#AllowInsertCode").closest(".form-group").remove();
            $("#UploadDocs").closest(".form-group").remove();
            $("#LogTooltip").closest(".form-group").remove();
            $("#Infolog").closest(".form-group").remove();
        }


        $("#" + formId).find('#SaveChanges').val('@MsgUtils.Instance.Trls("SaveChanges")');
        $("#" + formId).find('#backToIndex').val('@MsgUtils.Instance.Trls("backToIndex")');
        $("#LastLogin").data("kendoDatePicker").readonly();
        if(isSuper === 'False')
           $("#"+formId).find("#SuperUser").closest("div").css("display","none")
        $("#" + formId).on('click','#SaveChanges', function () {
            FormJs.saveForm($("#" + formId), $(this), function (res) {
                ulr = oldulr;
                toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                if(res !== undefined)
                    location.reload();
                else
                    $("#renderbody").load(oldulr);

            });
        });

        $("#" + formId).on('click','#backToIndex' ,function(){
            ulr = oldulr
            $("#renderbody").load(ulr);
        });
    });
</script>
