@using System.Web.Script.Serialization
@using WebApp.Extensions

@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
    var version = Request.QueryString["Version"];
}

@*<script src="~/Scripts/typeahead.bundle.min.js"></script>*@
<script src="~/Scripts/cultures/lang.js"></script>

<div id="ElgCerDiv">

</div>

<script>

    $(function () {

        // Back to index
        //var oldPage = localStorage.getItem("menuhigh").split(",");
        //oldulr = $("#"+ oldPage[2] + " a").attr("href");
        var model;

        model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model));
        var EmpAccural= [{id:1,name:"@MsgUtils.Instance.Trls("Optional")"}, {id:2,name:"@MsgUtils.Instance.Trls("As Employees assigned")"}, {id:3,name:"@MsgUtils.Instance.Trls("Afteremployeesassignedinmonths")"}];
        var PlanLimit= [{id:1,name:"@MsgUtils.Instance.Trls("Company cost")"}, {id:2,name:"@MsgUtils.Instance.Trls("Employee cost")"}, {id:3,name:"@MsgUtils.Instance.Trls("Total service cost")"}];
        @*var PersonType = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.PersonType));*@
        var Payrolls = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Payrolls));
        var Jobs = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Jobs));
        var PeopleGroups = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.PeopleGroups));
        var CompanyStuctures = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.CompanyStuctures));
        var Positions = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Positions));
        var PayrollGrades = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.PayrollGrades));
        var Branches = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Branches));
        var Qualification = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Qualification));
        var calender = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.calender));
        var url = "@Url.Action("ReadFormInfo", "Pages")";

        var formId = "ElgCerForm";
        var read = "@Request.QueryString["Read"]";
        $.ajax({
            //async: false,
            url: "@Url.Action("ReadFormInfo","Pages")",
            type: "GET",
            dataType: "json",
            contentType: 'application/json',
            data: { objectname: "ElgCer", version:"@version", roleId: "@Request.QueryString["RoleId"]"},
            success: function (data) {
                data.FormId = formId;
                data.TableName ="SalaryVars";
                data.FormAction = "@Url.Action("Details", "Benefit")";
                data.Culture = "@User.Identity.GetCulture()";
                data.rtl = @rtl.ToString().ToLower();
                if(read == 1) {
                    data.mode = 'show';
                }
                data.companyId = "@User.Identity.GetDefaultCompany()";
                data.admin = "@admin";

                $("#ElgCerDiv").Forms(data, model);

                $("#" + formId).find('#saveChanges').val('@MsgUtils.Instance.Trls("SaveChanges")');
                $("#" + formId).find('#backToIndex').val('@MsgUtils.Instance.Trls("backToIndex")');

                FormJs.fillOptionsDynamic($("#" + formId), "IPayrolls", Payrolls, model);
                FormJs.fillOptionsDynamic($("#" + formId), "IJobs", Jobs, model);
                FormJs.fillOptionsDynamic($("#" + formId), "IPeopleGroups", PeopleGroups, model);
                FormJs.fillOptionsDynamic($("#" + formId), "ICompanyStuctures", CompanyStuctures, model);
                FormJs.fillOptionsDynamic($("#" + formId), "IPositions", Positions, model);
                FormJs.fillOptionsDynamic($("#" + formId), "IPayrollGrades", PayrollGrades, model);
                FormJs.fillOptionsDynamic($("#" + formId), "IBranches", Branches, model);
                $("#ElgCerDiv").on('click',"#Save",null, function (e) {
                    var Res = new FormData($('form').get(1));
                    $.ajax({
                        url: "@Url.Action("AddToSalaryVarGrid", "SalaryItem")",
                        data:Res,
                        type:"POST",
                        cache:false,
                        processData:false,
                        contentType:false,
                        success: function (result)
                        {
                            var grid = $("#GridEmpSalaryDiv").data("kendoGrid");
                            for (var i = 0; i < result.length; i++) 
                            {
                                grid.dataSource.data().push(result[i]);
                            }
                            $("#EmpWindow").data("kendoWindow").close();

                        }

                    });
            });

                var sets = $("#" + formId).find(".set");
                for(var i=0; i<sets.length; i++){
                    if($(sets[i]).children(".sections").children().length == 0)
                        $(sets[i]).remove();
                }

            }

        });
    });



</script>



