

@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Index";
    Layout = null;
    var rtl = User.Identity.RTL();
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];
    var admin = User.IsInRole("Admin");

}
<br />

<div id="EmailLogDiv"></div>


<script>
    var objectName = "EmailLogs";
    var gridname1 = "'EmailLogDiv'";
    Grids.indexGrid({
        read: "@Url.Action("ReadEmailLog", "Notification")",
        objectName: "EmailLogs",  // name of the page or table name used to create local db key
        recordName: "Name", // custom delete message
        gridName: "EmailLogDiv",
        admin: "@admin",
        lang: "@User.Identity.GetCulture()",
        toolbar: kendo.template($("#Newtemplate").html()),
        columns: [{
            field: "SentOk",
            template: '<input  type="checkbox" #:SentOk == true ? "checked" : ""# disabled />'
        }, {
            field: "ReadOK",
            template: '<input  type="checkbox" #:ReadOK == true ? "checked" : ""# disabled />'
        }]
    });

</script>
<script type="text/x-kendo-template" id="Newtemplate">
    <div style="@(rtl ? "float:left" : "float: right")">
        &nbsp;
        <div class="btn-group">
            <button type="button" class="btn btn-default glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="toolsMenu">
                @if (admin)
                {
                    <li><a class="glyphicon glyphicon-floppy-save" onclick="Grids.saveGrid('EmailLogDiv')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveGrid")</span></a></li>
                }
                <li><a class="glyphicon glyphicon-trash" onclick="Grids.resetGrid('EmailLogDiv')"><span>&nbsp; @MsgUtils.Instance.Trls("ResetGrid")</span></a></li>
                @if (function != null && function.Length > 0)
                {
                    if (Array.Exists(function, f => f == "ExportExcel"))
                    {
                        <li><a class="fa fa-file-powerpoint-o" onclick="Grids.saveAsXsl('EmailLogDiv')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveAsExcel")</span></a></li>
                    }
                    if (Array.Exists(function, f => f == "ExportPdf"))
                    {
                        <li><a class="fa fa-file-powerpoint-o" onclick="Grids.saveAsPdf('EmailLogDiv')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveAsPDF")</span></a></li>
                    }
                }    
            </ul>
        </div>
    </div>
</script>









