@using System.Web.Script.Serialization
@using Model.Domain
@using WebApp.Extensions
@using Model.ViewModel.Personnel
@model PeoplesViewModel
@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
    var version = Request.QueryString["Version"];
    string basicdata = "disabled", contract = "disabled", papers = "disabled", assignmet = "disabled", userprofile = "disabled";
    switch (Model.Status)
    {
        case PersonStatus.New:
        case PersonStatus.BasicData:
            basicdata = "active current";
            break;
        case PersonStatus.Contract:
            basicdata = "active done";
            contract = "active current";
            break;
        case PersonStatus.Papers:
            basicdata = "active done";
            contract = "active done";
            papers = "active current";
            break;
        case PersonStatus.Assignment:
            basicdata = "active done";
            contract = "active done";
            papers = "active done";
            assignmet = "active current";
            break;
        case PersonStatus.UserProfile:
            basicdata = "active done";
            contract = "active done";
            papers = "active done";
            assignmet = "active done";
            userprofile = "active current";
            break;
        default:
            basicdata = "active done";
            contract = "active done";
            papers = "active done";
            assignmet = "active done";
            userprofile = "active done";
            break;
    }
}
@Html.Partial("_FormButtons")
<script>
        LoadGoogleMapsScripts();
</script>
<div id="pageTabs" class="col-lg-10 col-sm-12 col-md-9">
    <div class="tab-group">
        <div class="steps-label">
            <ul>
                <li data-width="step-1" class="@basicdata">
                    <span class="progress-link"><span class="fill"></span></span>
                    <span class="icon"></span>
                    <ul class="nav nav-tabs step-1 active">
                        <li class="active">
                            <a id="t_GeneralInformation" href="#tab_GeneralInformation" data-menuid="60" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("GeneralInformation")</span>
                            </a>
                        </li>
                    </ul><!-- /.step-1 -->
                </li>
                <li data-width="step-2" class="@contract">
                    <span class="progress-link"><span class="fill"></span></span>
                    <span class="icon"></span>
                    <ul class="nav nav-tabs step-2">
                        <li>
                            <a id="t_Qualifications" href="#tab_Qualifications" data-menuid="62" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("Qualifications")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_EmployeeTraining" href="#tab_EmployeeTraining" data-menuid="66" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("EmployeeTraining")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_Employement" href="#tab_Employement" data-menuid="59" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("Employement")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_EmployeeHistory" href="#tab_EmployeeHistory" data-menuid="69" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("EmployeeHistory")</span>
                            </a>
                        </li>
                    </ul><!-- /.step-1 -->
                </li>
                <li data-width="step-3" class="@papers">
                    <span class="progress-link"><span class="fill"></span></span>
                    <span class="icon"></span>
                    <ul class="nav nav-tabs step-3">
                        <li>
                            <a id="t_EmpAttachment" href="#tab_EmpAttachment" data-menuid="6701" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("EmpAttachment")</span>
                            </a>
                        </li>
                    </ul><!-- /.step-1 -->
                </li>
                <li data-width="step-4" class="@assignmet">
                    <span class="progress-link"><span class="fill"></span></span>
                    <span class="icon"></span>
                    <ul class="nav nav-tabs step-4">
                        <li>
                            <a id="t_Assignments" href="#tab_Assignments" data-menuid="63" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("Assignments")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_AssignmentsHistory" href="#tab_AssignmentsHistory" data-menuid="64" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("AssignmentsHistory")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_EmployeeRelative" href="#tab_EmployeeRelative" data-menuid="68" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("EmployeeRelative")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_EmployeeBenefits" href="#tab_EmployeeBenefits" data-menuid="67" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("EmployeeBenefits")</span>
                            </a>
                        </li>
                        <li>
                            <a id="t_MedicalServices" href="#tab_MedicalServices" data-menuid="70" data-toggle="tab">

                                <span>@MsgUtils.Instance.Trls("MedicalServices")</span>
                            </a>
                        </li>
                    </ul><!-- /.step-1 -->
                </li>
                <li data-width="step-5" class="@userprofile">
                    <span class="progress-link"><span class="fill"></span></span>
                    <span class="icon"></span>
                    <ul class="nav nav-tabs step-5">
                        <li>
                            <a id="t_EmpUserProfile" href="#tab_EmpUserProfile" data-menuid="6690" data-toggle="tab">
                                <span>@MsgUtils.Instance.Trls("EmpUserProfile")</span>
                            </a>
                        </li>
                    </ul><!-- /.step-1 -->
                </li>
            </ul>
        </div>
    </div><!-- /.tab-group -->
</div>
<!--     <ul class="nav nav-tabs" id="menu_tabs"">
            <li>
                <a id="t_AudiLog" href="#tab_AudiLog" data-menuid="61" data-toggle="tab">سجل التدقيق</a>
            </li>
    </ul>
 -->
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab_GeneralInformation"></div>
    <div class="tab-pane fade" id="tab_Qualifications"></div>
    <div class="tab-pane fade" id="tab_EmployeeTraining"></div>

    <div class="tab-pane fade" id="tab_Employement"></div>
    <div class="tab-pane fade" id="tab_EmployeeHistory"></div>

    <div class="tab-pane fade" id="tab_Assignments"></div>
    <div class="tab-pane fade" id="tab_AssignmentsHistory"></div>

    <div class="tab-pane fade" id="tab_EmpUserProfile"></div>
    
    <div class="tab-pane fade" id="tab_EmpAttachment"></div>
    
    <div class="tab-pane fade" id="tab_EmployeeRelative"></div>
    <div class="tab-pane fade" id="tab_EmployeeBenefits"></div>
    <div class="tab-pane fade" id="tab_MedicalServices"></div>
    <div class="tab-pane fade" id="tab_AudiLog"></div>
</div>

<div id="People"></div>
<div id="docWindow"></div>
<div id="ProfPic"></div>

<script>
    var model;
    var flag;
    //var OrgHandler=[];

     @*function drawaddress(id){
        var url = $('#AddressPopup').data('url');
        $.get(url+"?Version=@Request.QueryString["Version"]", {addressId: id}, function(data) {
            $('#bodyContainer').html(data);
            $('#AddressPopup').modal('show');
        });
    }
   function ChangeVarSubAmt(formId,elem){
        //if(elem!=""){
        //    $('#VarSubAmt11').text(parseFloat(elem*0.11).toFixed(2));
        //    $('#VarSubAmt24').text(parseFloat(elem*0.24).toFixed(2));
        //}else{
        //    $('#VarSubAmt11').text("");
        //    $('#VarSubAmt24').text("");
        //}
    }
    function ChangeBasicSubAmt(formId,elem){
        //if(elem!=""){
        //    $('#BasicSubAmt14').text(parseFloat(elem*0.14).toFixed(2));
        //    $('#BasicSubAmt26').text(parseFloat(elem*0.26).toFixed(2));
        //}else{
        //    $('#BasicSubAmt14').text("");
        //    $('#BasicSubAmt26').text("");
        //}
    }*@

    function drawPic(elem,e){
        var myelem = elem;
        $("#ProfPic").kendoWindow({
            title: "@MsgUtils.Instance.Trls("Profile Picture")",
            minWidth: "1000px",
            width: "60%",
            height: "75%",
            actions: ["Minimize", "Maximize", "Close"],
            visible: false,
            close: function() {
                $(myelem).removeClass("hidden");
                $("#ProfPic").empty();
            }

        });

        if($(elem).attr("id")!="browse"){
            $("#ProfPic").data("kendoWindow").refresh("/People/Pic?EmpId=@Model.Id").center().open();
        }
    }

    $(function () {
        model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model));
        var ObjectName='PeopleForm';
        var QualificationId = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.QualificationId));
        var ProviderId = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.ProviderId));
        var Nationality = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.Nationality));

    // 1-Save  2-Save&New 3-Save&Close 4-Correct  5-Update
    // 6-Download  7-upload  8-Send
        // 9-Activate 10-Attachment 11-Exit
    $("#t_Employement").click(function (){
        //$("[id^='tab_']").empty();
        $("#tab_Assignments,#tab_EmpUserProfile,#tab_GeneralInformation").empty();
        showToolbar([4,5,11], '#EmpForm');
        //if ($('#tab_Employement').html().length == 0)
        $('#tab_Employement').load("@Url.Action("EmpDetails", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmployeeBenefits").click(function (){
        showToolbar([]);
        if ($('#tab_EmployeeBenefits').html().length == 0)
            $('#tab_EmployeeBenefits').load("@Url.Action("EmpBenefitIndex","Assignment")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&ObjectName=AssignmentsForm&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmployeeRelative").click(function (){
        showToolbar([]);
        if ($('#tab_EmployeeRelative').html().length == 0)
            $('#tab_EmployeeRelative').load("@Url.Action("EmpRelativeIndex", "Assignment")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&ObjectName=AssignmentsForm&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_AssignmentsHistory").click(function (){
        showToolbar([]);
        if ($('#tab_AssignmentsHistory').html().length == 0)
            $('#tab_AssignmentsHistory').load("@Url.Action("AssignmentHistory", "Assignment")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmpUserProfile").click(function (){
        $("#tab_Assignments,#tab_Employement,#tab_GeneralInformation").empty();
        showToolbar([1,3,11], '#UserProfile');
        //if ($('#tab_EmpUserProfile').html().length == 0)
        $('#tab_EmpUserProfile').load("@Url.Action("EmpUserProfile", "UserProfile")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_AudiLog").click(function (){
        showToolbar([]);
        if ($('#tab_AudiLog').html().length == 0)
            $('#tab_AudiLog').load("@Url.Action("Log", "Log")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&ObjectName=&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_Qualifications").click(function (){
        showToolbar([]);
        if ($('#tab_Qualifications').html().length == 0)
            $('#tab_Qualifications').load("@Url.Action("Qualifications", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_FlexData").click(function(){
        showToolbar([]);
        if ($('#tab_FlexData').html().length == 0)
            $('#tab_FlexData').load("@Url.Action("FlexData", "Flex")?id=@Model.Id&objectName="+ObjectName+"&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmployeeTraining").click(function(){
        showToolbar([]);
        if ($('#tab_EmployeeTraining').html().length == 0)
            $('#tab_EmployeeTraining').load("@Url.Action("EmployeeTraining", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmployeeHistory").click(function(){
        showToolbar([]);
        if ($('#tab_EmployeeHistory').html().length == 0)
            $('#tab_EmployeeHistory').load("@Url.Action("EmployementHistory", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_Assignments").click(function () {
        $("#tab_EmpUserProfile,#tab_Employement,#tab_GeneralInformation").empty();
        showToolbar([4,5,11], '#AssignmentForm');
        //if ($('#tab_Assignments').html().length == 0)
        $("#tab_Assignments").load("@Url.Action("Details", "Assignment")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });
    $("#t_MedicalServices").click(function () {
        showToolbar([]);
        if ($('#tab_MedicalServices').html().length == 0)
            $("#tab_MedicalServices").load("@Url.Action("MedicalService", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });
    $("#t_EmployeeCustody").click(function () {
        showToolbar([]);
        if ($('#tab_EmployeeCustody').html().length == 0)
            $("#tab_EmployeeCustody").load("@Url.Action("EmployeeCustody", "People")?id=@Model.Id&MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });

    $("#t_EmpAttachment").click(function () {
        showToolbar([]);
        //$("#tab_GeneralInformation,#tab_Assignments,#tab_EmpUserProfile,#tab_Employement").empty();

        //if ($('#tab_EmpAttachment').html().length == 0)
        $("#tab_EmpAttachment").load("@Url.Action("Index", "EmploymentPapers")?EmpID=@Model.Id");

        @*$("#tab_EmpAttachment").load("@Url.Action("Edit", "FileUpload")?Source=People&SourceId="+model.Id+"");*@
    });

    var formId = "PeopleForms";

    $("#t_GeneralInformation").click(function () {
        showToolbar([1,2,3,11], '#PeopleForms');
        $("#tab_Assignments,#tab_EmpUserProfile,#tab_Employement").empty();
        $("#tab_GeneralInformation").html("<div id='People'></div>")
        var read = "@Request.QueryString["Read"]";

        $.ajax({
            url: "@Url.Action("ReadFormInfo","Pages")",
            type: "GET",
            dataType: "json",
            contentType: 'application/json',
            data: { objectname: "PeopleForm", version:"@version", roleId: "@Request.QueryString["RoleId"]"},
            success: function (data) {
                data.FormAction = "@Url.Action("SavePeople", "People")";
                data.FormId = formId;
                data.Culture = '@culture';
                data.TableName = "People";
                data.companyId = "@User.Identity.GetDefaultCompany()";
                data.admin = '@admin';
                if(read == 1) data.mode = 'show';
                data.rtl = '@rtl.ToString().ToLower()';


                //Append the form to the div
                var me = $("#People").Forms(data, model);
                var url = '@Url.Action("FillDropdownlists", "People")?id=@Model.Id&BirthCountry=@Model.BirthCountry&CountryId=@Model.CountryId&BirthCity=@Model.BirthCity&BirthDstrct=@Model.BirthDstrct&CityId=@Model.CityId&DistrictId=@Model.DistrictId';
                do_AjaxCall_WithMethod(url,'','GET',function(data){
                    FormJs.fillOptionsDynamic($("#" + formId), "QualificationId", data.QualificationId, model, { objectName: "Qualifications" });
                    FormJs.fillOptionsDynamic($("#" + formId), "ProviderId", data.ProviderId, model, { objectName: "Providers" });
                    FormJs.fillOptionsDynamic($("#" + formId), "Nationality", data.Nationality, model,{objectName:"Countries"});

                    $("#" + formId).find("#BirthLocation").typeahead('val', data.BirthLocation);
                    $("#" + formId).find("#Location").typeahead('val', data.Location);
                    model.Location = data.Location;
                    model.BirthLocation = data.BirthLocation;
                });

                FormJs.fillOptionsDynamic($("#" + formId), "BirthLocation", null, model, {remoteTableName : 'World'});
                FormJs.fillOptionsDynamic($("#"+ formId), "Location", null, model, {remoteTableName : 'World'});
                $("#" + formId).append("<input type='hidden' name='HasImage' id='HasImage' value='" + (model.HasImage)+"'>");
                $("#" + formId).find('[name="TaxFamlyCntSec"]').css("display","none");

                if(model.SubscripDate==null)
                    $("div[name^='BasicSubAmt']").css("display","none");
                else
                    $("div[name^='BasicSubAmt']").css("display","");

                //$('#' + formId + ' [name="MobileSec"] input').css('width', '100%');

                $("#" + formId + " #Location").on("typeahead:select",
                   function (e, location) {
                       $("#" + formId +' #CountryId').val(location.country);
                       $("#" + formId +' #CityId').val(location.city);
                       $("#" + formId +' #DistrictId').val(location.dist);
                   });
                $("#" + formId + " #BirthLocation").on("typeahead:select",
                    function (e, location) {
                        $("#" + formId +' #BirthCountry').val(location.country);
                        $("#" + formId +' #BirthCity').val(location.city);
                        $("#" + formId +' #BirthDstrct').val(location.dist);
                        $("#" + formId +' #Nationality').getKendoDropDownList().value(location.country);
                    });

                if(model.Id ==0)
                {
                    $("#" + formId).find("#BirthDate").data("kendoDatePicker").value('');
                    $("#" + formId).find("#JoinDate").data("kendoDatePicker").value('');
                }
                if(read ==1)
                {

                    $("#ShowMap").hide();
                    LoadMap(model.Longitude,model.Latitude);
                }

                if(model.Id > 0)
                {
                    if($('#Longitude').val() != "" && $('#Latitude').val() != "")
                    {
                        LoadMap();

                    }
                }

                function maritalStat()
                {
                    var id = $('#MaritalStat').val();
                    if (id.length > 0){
                        var datasource = $("#MaritalStat").data("kendoDropDownList").dataSource.data();
                        var val = datasource.find(c => c.id == id);
                        if(val.SysCode == 1)
                            $("#" + formId).find('[name="TaxFamlyCntSec"]').css("display","none");
                        else
                            $("#" + formId).find('[name="TaxFamlyCntSec"]').css("display","");
                    }
                }

                $("#MaritalStat").on("change", function(e){maritalStat()});
                maritalStat();

                function militaryStat()
                {
                    var id = $('#MilitaryStat').val();
                    if (id.length == 0 || id != 1) {
                        $("#" + formId).find('[name="MilitaryDateSec"]').css("display","none");
                        $("#" + formId).find('[name="MilCertGradeSec"]').css("display","none");
                        $('#MilitaryNo').parent().parent().css("display","none");
                    } else {
                        $("#" + formId).find('[name="MilitaryDateSec"]').css("display","");
                        $("#" + formId).find('[name="MilCertGradeSec"]').css("display","");
                        $('#MilitaryNo').parent().parent().css("display","");
                    }
                }
                $("#MilitaryStat").on("change", function(e){militaryStat()});
                militaryStat();

                $("#"+formId).on('blur','#BirthDate',function(e){
                    var element = $(this);
                    if(element.data("kendoDatePicker").value() != null)
                    {
                        var elem = $("#" + formId).find("#BirthDate").data("kendoDatePicker").value().getFullYear();
                        var max = $("#" + formId).find("#Age").attr('max');
                        var min = $("#" + formId).find("#Age").attr('min');
                        var maxAge = max ==undefined ? 100 : max;
                        var minAge = min ==undefined ? 18 : min;
                        var timeNow = new Date().getFullYear();
                        var chkTime = timeNow-elem;
                        if( chkTime <= minAge || chkTime >= maxAge )
                        {
                            $("#" + formId).find("#Age").text(chkTime);
                            element.addClass("k-invalid").prop("aria-invalid", true);
                            element.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='BirthDate' role='alert'>@MsgUtils.Instance.Trls("BirthDateMustBeInRangeAg")</span>");
                        }
                        else
                        {
                            $("#" + formId).find("#Age").text(chkTime);
                            $('#BirthDate').removeClass("k-invalid").prop("aria-invalid", false);
                            $('#BirthDate').next("span.k-tooltip-validation").remove();
                        }
                    }
                    else
                        $("#" + formId).find("#Age").text(0);
                });

                $("#" + formId).on('blur','#JoinDate', function(){
                    var val = $(this).data("kendoDatePicker").value(), elem = $(this);
                    if (elem != "") {
                        var valueinDays = $("#StartExpDate").data("kendoDatePicker").value() - val;
                        if(valueinDays > 0 && $('#StartExpDate').val() != "") {
                            if (elem && !elem.hasClass("k-invalid") && !$("#StartExpDate").hasClass("k-invalid")) {
                                elem.addClass("k-invalid").prop("aria-invalid", true);
                                elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='JoinDate' role='alert'>@MsgUtils.Instance.Trls("JoinDateGrTStartExpDate")</span>");
                            }
                        }
                        else
                        {
                            $('#StartExpDate').removeClass("k-invalid").prop("aria-invalid", false);
                            $('#StartExpDate').next("span.k-tooltip-validation").remove();
                            elem.removeClass("k-invalid").prop("aria-invalid", false);
                            elem.next("span.k-tooltip-validation").remove();
                        }
                        if ($('#StartExpDate').val() == "") {
                            $('#ExpYear').text(new Date().getFullYear() - $("#JoinDate").data("kendoDatePicker").value().getFullYear());
                        }
                    }
                });

                $("#" + formId).on('change','#SubscripDate', function(){
                    var elem = $(this);
                    $("div[name^='BasicSubAmt']").css("display","");
                });

                $("#"+formId).on('blur','#StartExpDate',function(){
                    var elem = $(this);
                    if (elem.val() != "") {
                        $('#ExpYear').text(new Date().getFullYear() - elem.data("kendoDatePicker").value().getFullYear());
                    } else if ($('#JoinDate').val() != "") {
                        $('#ExpYear').text(new Date().getFullYear() - $("#JoinDate").data("kendoDatePicker").value().getFullYear());
                    } else $('#ExpYear').text('0');

                    if(elem.val()!="" && $("#JoinDate").data("kendoDatePicker").value()!=""){
                        var valueinDays=(elem.data("kendoDatePicker").value()-$("#JoinDate").data("kendoDatePicker").value())/(1000*3600*24);
                        if(valueinDays > 0){
                            if (elem && !elem.hasClass("k-invalid") && !$("#JoinDate").hasClass("k-invalid")) {
                                elem.addClass("k-invalid").prop("aria-invalid", true);
                                elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='StartExpDate' role='alert'>@MsgUtils.Instance.Trls("StartExpDateLThanJoinDate")</span>");
                            }
                        }
                        else
                        {
                            $('#JoinDate').removeClass("k-invalid").prop("aria-invalid", false);
                            $('#JoinDate').next("span.k-tooltip-validation").remove();
                            elem.removeClass("k-invalid").prop("aria-invalid", false);
                            elem.next("span.k-tooltip-validation").remove();
                        }
                    }
                });


                $("#" + formId).on('blur','#IssueDate', function() {
                    var elem = $(this);
                    var valueinDays=(elem.data("kendoDatePicker").value()-$("#ExpiryDate").data("kendoDatePicker").value())/(1000*3600*24);
                    if(valueinDays > 0 && $('#ExpiryDate').val() != "") {
                        if (elem && !elem.hasClass("k-invalid")) {
                            elem.addClass("k-invalid").prop("aria-invalid", true);
                            elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='IssueDate' role='alert'>@MsgUtils.Instance.Trls("IssueDateLThanExpiryDate")</span>");
                        }
                    }
                    else{

                        $('#ExpiryDate').removeClass("k-invalid").prop("aria-invalid", false);
                        $('#ExpiryDate').next("span.k-tooltip-validation").remove();
                        elem.removeClass("k-invalid").prop("aria-invalid", false);
                        elem.next("span.k-tooltip-validation").remove();
                    }

                });

                $("#"+formId).on('blur','#ExpiryDate',function(){
                    var elem = $(this);
                    if(elem.val()!=""){
                        var valueinDays=($("#IssueDate").data("kendoDatePicker").value()-elem.data("kendoDatePicker").value())/(1000*3600*24);
                        if(valueinDays > 0){
                            if (elem && !elem.hasClass("k-invalid")) {
                                elem.addClass("k-invalid").prop("aria-invalid", true);
                                elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='ExpiryDate' role='alert'>@MsgUtils.Instance.Trls("ExpiryDateMustGTIssueDate")</span>");
                            }
                        }
                        else
                        {

                            $('#IssueDate').removeClass("k-invalid").prop("aria-invalid", false);
                            $('#IssueDate').next("span.k-tooltip-validation").remove();
                            elem.removeClass("k-invalid").prop("aria-invalid", false);
                            elem.next("span.k-tooltip-validation").remove();
                        }

                    }
                });

                $("#"+formId).on('change','input[name="Gender"]',function(){
                    var val= $(this).val();
                    var OldValue = $("#HasImage").val();
                    if(model.Id == 0 && OldValue=="false"){
                        if(val == "1")
                            $("#myimage").attr("src","/SpecialData/Photos/noimage.jpg?dummy=?" + (new Date().getTime()));
                        else
                            $("#myimage").attr("src","/SpecialData/Photos/Fnoimage.jpg?dummy=?" + (new Date().getTime()));
                    }
                });
                //start region Google Map
                $("#" + formId).find('#ShowMap').val('@MsgUtils.Instance.Trls("ShowMap")');

                if($('#Longitude').val() == "" || $('#Latitude').val() == "")
                    $("#ShowMap").attr("disabled","disabled");

                $("#Latitude,#Longitude").on("blur change",function()
                {
                    if($('#Longitude').val() != "" && $('#Latitude').val() != "")
                        $("#ShowMap").removeAttr("disabled");
                    else
                        $("#ShowMap").attr("disabled","disabled");
                });
                $("#ShowMap").on("click",function(){
                    LoadMap();
                });
                function LoadMap(_Lng,_Lat) {
                    setTimeout(function(){
                        var Lng = $('#Longitude').val();
                        var Lat = $('#Latitude').val();
                        if(_Lng) Lng =_Lng;
                        if(_Lat) Lat = _Lat
                        $("div[name=GoogleMapSec]").load('/GoogleMaps/ShowMapPartial?Lng='+ Lng +'&Lat='+ Lat +'&Height=400', function(responseTxt, statusTxt, xhr)
                        {
                            if (statusTxt == "success") {

                            }
                            if (statusTxt == "error")
                                alert("Error: " + xhr.status + ": " + xhr.statusText);
                        });
                    },500);
                }
                //End Region

                $("#b1").off('click').on('click',function (e) {
                    //BirthCity
                    var selector=$("#" + formId).find('#BirthCity');
                    if(selector.val()==null) selector.val(0);
                    selector=$("#" + formId).find('#BirthDstrct');
                    if(selector.val()==null) selector.val(0);
                    selector=$("#" + formId).find('#BirthCountry');
                    if(selector.val()==null) selector.val(0);
                    selector=$("#" + formId).find('#CityId');
                    if(selector.val()==null) selector.val(0);
                    selector=$("#" + formId).find('#DistrictId');
                    if(selector.val()==null) selector.val(0);
                    selector=$("#" + formId).find('#CountryId');
                    if(selector.val()==null) selector.val(0);

                    if($("#" + formId).find(".k-invalid").length > 0) return ;

                    FormJs.saveForm($("#" + formId), $(this) ,function (res) {
                        toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                        if (model.Id == 0){
                            $('div.tab-group > div > ul > li > ul > li:nth-child(2)').removeClass('disabled');
                            $('div.tab-group > div > ul > li > ul > li:nth-child(3)').removeClass('disabled');
                            $('div.tab-group > div > ul > li:nth-child(1)').removeClass('current').addClass('done');
                            $('div.tab-group > div > ul > li:nth-child(2)').removeClass('disabled').addClass('active').addClass('current');
                            $("#t_Employement").click();
                        }

                        model = res;
                        //update name
                        var name = (model.localName ? (model.localName.length > 20 ? String(model.localName).substr(0, 17) + "..." : model.localName) : (model.FirstName + " " + model.Familyname));
                        $(".nameLbl #personName").text(name);
                        updateDocProgress(); //update Documents progress bar
                        updateEmpProgress(false); //update profile progress bar
                    }, false);
                });

                $("#b2").off('click').on('click', function (e) {
                    if($("#" + formId).find(".k-invalid").length > 0) return ;
                    FormJs.saveForm($("#" + formId), $(this), function (res) {
                        toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                        model = res;
                        $("[id^='tab_']").not('#tab_GeneralInformation').empty();
                        $('#profile-info').remove();
                        $.get("@Url.Action("_Profile", "People")", function(d) {
                            $(".tab-content").append(d);
                        });
                    }, true);
                });

                $("#b3").off('click').on('click', function (e) {
                    if($("#" + formId).find(".k-invalid").length > 0) return ;
                    FormJs.saveForm($("#" + formId), $(this), function (res) {
                        toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                        updateHistory(oldUlr);
                    }, false);
                });
            }
        });
    });
    
    $('div.tab-group > div > ul > li:nth-child(1) > ul > li').removeClass('active');
    switch("@Model.Status") {
        case 'Contract':
            $("#t_Employement").click();
            break;
        case 'Papers':
            $("#t_EmpAttachment").click();
            break;
        case 'Assignment':
            $("#t_Assignments").click();
            break;
        case 'UserProfile':
            $("#t_EmpUserProfile").click();
            break;
        default:
            $("#t_GeneralInformation").click();
    }

    // ☻ ALT + Number
    $(".tab-content").wrap("<div class='col-lg-10 col-sm-12 col-md-9 main-view'></div>");
    $('.page-content>.main-view').removeClass('main-view');
    });
</script>

@*<div class="modal fade" id="CropPic" tabindex="1" role="dialog" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Address</h4>
            </div>
            <div id="bodyContainer" class="modal-body" tabindex="0">
                @Html.Partial("CropPic", new { Source = "EmployeePic", SourceId = Model.Id })
            </div>
        </div>
    </div>
</div>*@

@Html.Partial("_Profile", Model)

<script type="text/javascript">
    $(document).ready(function(){
        var tabMarkUp =$('.tab-group');
        $('.main-view .tab-content').prepend(tabMarkUp);
        $('.main-view .tab-content .btns-form').insertAfter('.tab-group');
        function drawSteps(){
            var allLength=$('.steps-label>ul>li li').length;
            var allWidth=$('.steps-label').outerWidth();
            var width=0;
            var length=0;
            $('.steps-label>ul>li').each(function(){
                var totalWidth=0;
                $(this).find('a>span').each(function(){
                    totalWidth += $(this).width()+20;
                });
                if (totalWidth<=allWidth) {
                    $('.steps-label>ul>li li').addClass('full-txt')
                }
                if ($(this).find('li.active').length!==0){
                    $(this).width(totalWidth);
                    width=$(this).outerWidth();
                    length=$(this).find('li').length;
                }
                else{
                    if (width!=undefined) {
                        var maxWidth=(allWidth-width)/(allLength-length);
                        $(this).find('li').css('max-width',maxWidth);
                    }
                }
            });
        }

        drawSteps();
        setTimeout(function(){
            $('.steps-label ul li').addClass('shown')
            var delayTime=0;
            $('.steps-label .icon').each(function(){
                var selector=$(this);
                setTimeout(function(){
                    $(selector).addClass('shown');
                },delayTime);
                delayTime+=100;
            });
        },300);

        $('.tab-group .nav-tabs li a').each(function(){
            $(this).on('click' ,function(){
                var activeTab=$(this).closest('li[data-width]').siblings('li').find('.active').attr('id');
                $(this).closest('li[data-width]').siblings('li').find('.active').removeClass('active');
                $('#'+activeTab).removeClass('active');
            });
        });

        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            var top = $('.main-view').offset().top;
            if (scroll>top+20) {
                $('.tab-group,.btns-form').css('top', scroll-35);
            }
            else {
                $('.tab-group,.btns-form').css('top', '0');
            }
        });

    });
</script>
