@using WebApp.Extensions
@using System.Web.Script.Serialization

@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    var rtl = User.Identity.RTL();
    var culture = User.Identity.GetCulture();
}


@Html.Partial("_RequestFilters", new ViewDataDictionary { { "GridName", "PeopleDiv" }, { "HasDepts", "false" }, { "HasRange", "false" }, { "TableName", "People" }, {"AddUrl", Url.Action("Details", "People") }, { "OldObjectName", "People" } }) 
<div id="PeopleDiv"></div>

<script>
    var hiddenCols = { 2: ["Department", "Location", "Job"] };
    var tabs = [{ Id: 1, Name: "Employees", Class: "ace-icon fa fa-circle stat1", Title: "@MsgUtils.Instance.Trls("Current Employees")"},
                { Id: 2, Name: "Waiting", Class: "ace-icon fa fa-circle stat2", Title: "@MsgUtils.Instance.Trls("Waiting Employees")" },
                { Id: 3, Name: "Terminated", Class: "ace-icon fa fa-circle stat3", Title: "@MsgUtils.Instance.Trls("Terminated Employees")"}];

    var readUrl = "@Url.Action("GetPeople", "People")?MenuId=@Request.QueryString["MenuId"]";
    RequestFilters.applyAllFilters(tabs, hiddenCols, "PeopleDiv", readUrl);

    var QualRank = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.QualificationId));
    var PersonType = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.PersonType));

    var columns = [{
        field: "Employee",
        template: "<div class='k-people-photo'><img class='k-people-photo' src=#:Exist(data.Gender, data.Attachement)# /></div>" +
                        "&nbsp;#if(PersonStatus==0){#<i class='ace-icon fa fa-circle stat#: EmpStatus #'></i>#}else{#<span class='badge badge-info'>#: PersonStatus #</span>#}#&nbsp;<div class='k-people-name'>#: Employee #</div>",
        locked:true},
    {field:"Qualification",values:QualRank},
     {field:"PersonType",values:PersonType}];
    //{field: "butt", template: "<div style='cursor:pointer'><img class='editbutt' src='/Content/Free-file-icons/16px/java.png'/>&nbsp;<img src='/Content/Free-file-icons/16px/pdf.png'/>&nbsp;<img src='/Content/Free-file-icons/16px/mp3.png'/></div>"}];

    Grids.indexGrid ({
        read: "@Url.Action("GetPeople", "People")?MenuId=@Request.QueryString["MenuId"]&tab=1",
        show: "@Url.Action("Details", "People")",
        edit: "@Url.Action("Details", "People")",
        del: "@Url.Action("DeletePeople", "People")",
        objectName: "PeopleGrid",
        recordName: "Employee",
        gridName: "PeopleDiv",
        dataBound: onLoad,
        admin: "@admin",
        columns: columns,
        lang: "@User.Identity.GetCulture()",
        serverPaging: true,
        serverFiltering: true,
        serverSorting: true,
        pageable: { pageSize: 25, pageSizes: [25, 50, 75, 100,125, 150, 175] },
    });

    var empstatus = ["@MsgUtils.Instance.Trls("Not employee yet")", "@MsgUtils.Instance.Trls("Active")", "@MsgUtils.Instance.Trls("Suspended")", "@MsgUtils.Instance.Trls("Terminated")", "","","","","","","","@MsgUtils.Instance.Trls("In Leave")", "@MsgUtils.Instance.Trls("New Employee")"];

    function onLoad(e)
    {
        $('#PeopleDiv > div.k-grid-content-locked > table > tbody > tr > td > i').each(function () {
            $(this).attr("data-toggle", "tooltip");
            $(this).attr("data-placement", "bottom");
            $(this).attr("title", empstatus[e.sender.dataItem($(this).closest("tr")).EmpStatus]);
            $(this).tooltip();
        });
    }
    $(document).ready(function(){
        if ($('.page-content').children('.main-view').length==0) {
            $('.page-content').children().addClass('main-view')
        }
    });
</script>


