
@using WebApp.Extensions

@{
    ViewBag.Title = "Index";
    Layout = null;
    var rtl = User.Identity.RTL();
    var admin = User.IsInRole("Admin");
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
}
<br>
<div id="PeopleGroupDiv"></div>
<script>
    var objectName = "PeopleGroups";
    Grids.batchGrid({
        read: "@Url.Action("ReadPeopleGroups","People")",
        update:"@Url.Action("UpdatePeopleGroups", "People")",
        create:"@Url.Action("CreatePeopleGroups", "People")",
        destroy:"@Url.Action("DeletePeopleGroups", "People")",
        admin:"@admin", // Admin role
        lang:"@User.Identity.GetCulture()",
        objectName: "PeopleGroups", // name of the page or table name used to create local db key
        recordName: "Name", // custom delete message
        gridName: "PeopleGroupDiv",
        fields: { CreatedUser: { editable: false }, CreatedTime: { editable: false }, ModifiedUser: { editable: false }, ModifiedTime: { editable: false }, Code: { editable: false } }

    });
</script>
@Html.Partial("_BatchGrid", new ViewDataDictionary { { "Admin", "True" }, { "gridName", "PeopleGroupDiv" }, { "ObjectName", "PeopleGroups" }, { "Functions", ViewBag.Functions } })
