@using WebApp.Extensions
@{
    Layout = null;
    var workflow = MsgUtils.Instance.Trls("WorkFlow");
    var save = @MsgUtils.Instance.Trls("Save");
    var source = ViewData["Source"] != null ? ViewData["Source"].ToString() : "";
    var sourceid = ViewData["SourceId"] != null ? int.Parse(ViewData["SourceId"].ToString()) : 0;
}

<div id='workFlowModal' class='modal fade in' tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@workflow</h4>
            </div>
            <div id="workFlowBody" class="modal-body" tabindex="0"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@MsgUtils.Instance.Trls("Close")</button>
                <button type="button" class="btn btn-primary" id="saveWorkFlow">@save</button>
            </div>
        </div>
    </div>
</div>

<div id="UploadPopup" class="modal fade in" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@MsgUtils.Instance.Trls("Upload")</h4>
            </div>
            <div id="bodyContainer" style="min-height: 670px;" class="modal-body" tabindex="0"></div>
        </div>
    </div>
</div>
<div class="toolbar">
    <div class="drawtabs"></div><!-- /.drawtabs -->
    <div class="btns btns-form">
        <div class="btn-group save-group" id="div12345">
            <button type="submit" class="btn save submit" id="b1" accesskey="s">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M240.3,481c-59.2,0-118.4,0-177.6,0c-19.1,0.1-35.5-6-48.1-20.6c-9-10-14.1-22.9-14.4-36.3
                c-0.1-9.9-0.1-19.7-0.1-29.6C0.1,284,0,173.5,0,62.9C0,39.5,8.8,21.2,28.6,8.5C38.3,2.4,49,0,60.4,0c101.3,0,202.7,0,304.1,0.1
                c2.5,0.1,4.8,1.1,6.6,2.8c35.7,35.5,71.4,71.2,106.9,106.9c1.7,1.8,2.7,4.2,2.8,6.6c0.1,101.2,0.1,202.4,0,303.6
                c0,30.6-18.9,53.6-47.9,59.6c-5.4,1-10.9,1.4-16.3,1.2C357.9,481,299.1,481,240.3,481z M111,443.9v-6.6c0-34.7-0.1-69.4,0-104.1
                c0-20.3,15.4-36.7,35.6-36.9c43.7-0.4,87.3-0.3,131-0.3c19.4,0,38.7-0.2,58.1,0.3c18.1,0.5,33.7,16.4,33.9,34.5
                c0.4,35.4,0.2,70.9,0.2,106.3v6.9c17.2,0,33.6,0,50,0c15.3,0,24.2-8.8,24.2-24.2c0-95.9,0-191.8-0.1-287.7c-0.1-2.6-1.2-5.1-3-7
                c-22.3-22.6-44.8-45.1-67.3-67.5c-0.9-0.9-2.1-1.7-3.8-2.9v6.8c0,27.8,0,55.5,0,83.3c0.1,3.6-0.2,7.3-0.8,10.9
                c-4.1,18.5-19,29.4-40,29.4c-71.2,0-142.5,0-213.8,0c-4.4,0.1-8.7-0.3-12.9-1.3c-17.4-4.3-28.4-18.9-28.4-37.6
                c-0.1-34.2,0-68.3,0-102.5v-6.4c-6.5,0-12.2-0.4-17.8,0.2c-3.6,0.5-7,1.8-10,3.7c-7.5,4.9-9,12.6-9,21.1
                c0.1,118.7,0.1,237.5,0,356.2c0,1.5,0,2.9,0.1,4.4c0.7,11.8,8.6,20.5,20.5,20.9C75.1,444.3,92.6,443.9,111,443.9z M148.3,443.7
                h184.3V333.4H148.3V443.7z M111.4,37.3v110.4h221.1V37.3H296v73.2h-74.4V37.3H111.4z" />
                </svg>
                <span>@save</span>
            </button>
            <button class="btn save-new submit" id="b2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M511.9,456.4c-3.9,21.8-20.7,34.3-35.9,47.1c-16.5,13.8-40.5,10.9-56.4-5c-18.1-18.1-35.9-36.5-53.9-54.7
                c-33.5-34.1-67-68.3-100.5-102.5c-2.5-2.6-4.3-5.8-5.2-9.3c-7.4-30.2-14.6-60.4-21.8-90.6c-0.2-1.2-0.3-2.4-0.4-3.6
                c4.1,0.9,7.8,1.6,11.5,2.5c28.3,6.7,56.5,13.4,84.8,20.2c2.1,0.6,4,1.7,5.5,3.2c46.4,45.6,92.8,91.2,139.2,136.8
                c3.7,3.7,7.4,7.4,11.3,10.9c10.4,9.3,19.4,19.6,22,34L511.9,456.4z M283.1,283.2c2.8,11.7,5.4,22.5,8.1,33.4
                c0.6,2.2,1.7,4.3,3.3,5.9c8.6,9,17.4,17.9,26.2,26.7c40.6,41.4,81.3,82.7,121.9,124c6.4,6.4,10.2,6.4,16.6,0
                c4.8-4.8,9.5-9.5,14.3-14.3c5.9-6,5.9-10-0.1-15.9c-50.3-49.5-100.7-99-151-148.5c-0.9-1.2-2.2-2.1-3.5-2.7
                C307.2,288.9,295.5,286.2,283.1,283.2z" />
                    <path d="M68.1,34.7c-6.6,0-12.7-0.6-18.6,0.2c-7.7,1-14.1,8.5-15.1,16.3c-0.2,2.2-0.4,4.4-0.3,6.6
                c0,109.4,0,218.8,0,328.2c0,16.2,7.6,23.7,23.8,23.8c13,0,25.9,0,38.9,0c1.6,0,3.3-0.1,5.1-0.2v-5.7c0.3-26.3,0.2-52.6,0.4-78.9
                c0.1-25.9,17.5-46.6,43-50.9c5.9-1,12.1-0.7,18.2-0.7c14.3-0.1,28.7,0,43,0c2.3,0,4.2-0.1,4.9,2.9c2.2,10.1,4.7,20.2,7.2,31
                c-2.1,0.1-3.8,0.3-5.6,0.3c-19,0-38.1,0-57.1,0c-12.8,0-19.3,6.5-19.3,19.2c0,26,0,51.9-0.9,77.9v5.8h7c45.5-0.5,91-0.5,136.5-0.6
                c3.3-0.2,6.6,1.2,8.8,3.7c8.3,8.8,17,17.4,25.5,26c1.1,1.1,2.2,2.4,3.8,4.2c-2.5,0.1-4.2,0.3-5.8,0.3c-84.6,0-169.2,0-253.8,0
                c-28,0-49.1-15.4-55.8-40.6c-1.3-5.1-1.9-10.3-1.8-15.6C0,277.3,0,166.9,0.1,56.5c0-29.3,17.7-50.6,45.6-55.7
                c4-0.6,8.1-0.8,12.1-0.7C156.6,0,255.3,0,354.1,0c3.3-0.2,6.6,1.1,8.8,3.6c25.8,26,51.7,51.8,77.4,77.8c2,2.1,3.1,4.9,3.2,7.8
                c0.2,74.2,0.2,148.3,0.1,222.5c0,1.6-0.1,3.2-0.3,6c-7-6.9-12.7-13.7-19.5-18.9c-11.6-8.9-14.9-19.6-14.6-34.2
                c0.9-53.6,0.3-107.2,0.4-160.8c0.2-3.3-1.2-6.6-3.6-8.8c-19.4-19.2-38.6-38.6-58-57.8c-1.5-1.5-3.8-2.3-6.9-4c0,3.5,0,5.4,0,7.2
                c0,23.6,0.4,47.2-0.3,70.8c-0.9,28.1-20.2,53.5-46.3,58.5c-4.8,0.8-9.7,1.2-14.6,1.2c-50.4,0.1-100.8-0.4-151.2,0.2
                c-36,0.4-57.3-28.1-59.6-54.4c-1.7-19.4-0.9-39.1-1.1-58.6C68,50.2,68.1,42.5,68.1,34.7z M204.5,102.7V34H102.9
                c-0.3,1.2-0.5,1.5-0.5,1.8c0,24.6-0.5,49.2,0,73.8c0.4,17.4,11.3,27.1,28.4,27.1c50.2,0,100.4,0,150.7,0c10.1,0,17.5-4.4,21.3-13.3
                c2.6-6.3,3.9-13.1,4-20c0.5-21.2,0.2-42.5,0-63.7v-4.4h-33.7v67.4H204.5z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("SaveAndNew")</span>
            </button>
            <button class="btn save-close submit" id="b3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M370.4,511.9h-24.3c-1.1-0.4-2.2-0.7-3.4-0.9c-45.4-5.1-81.3-26.4-108.6-62.8c-2-3.1-5.5-4.9-9.1-4.6
                c-55.3,0.1-110.6,0.1-165.9,0c-5.2,0.1-10.4-0.3-15.6-1.2C19.9,438-0.1,416.2,0,386.6C0.4,277.1,0.1,167.5,0.2,58
                C0,53.9,0.3,49.9,0.8,45.8c4.9-28,26.8-45.8,56.5-45.8C156.4,0,255.5,0,354.6,0c3.2-0.1,6.2,1.2,8.3,3.5
                c25.5,25.7,51.1,51.3,76.9,76.9c2.7,2.5,4.2,6,4,9.7c-0.1,45.2,0,90.3-0.2,135.5c-0.3,3.3,1.4,6.5,4.2,8.3
                c31.6,23.1,51.8,53.7,60.5,91.9c1.5,6.7,2.4,13.5,3.6,20.3v24.3c-0.6,3.8-1.2,7.6-1.9,11.4c-11.9,63.4-48.8,104.8-110.1,124.2
                C390.4,508.9,380.2,510,370.4,511.9z M341.2,33.2v6.9c0,20.9,0.1,41.8-0.1,62.7c0.1,5.8-0.3,11.5-1.2,17.2
                c-4.8,26.4-25.7,50.8-57.2,50.7c-52.1-0.1-104.1,0-156.2,0c-10.5,0-20.4-2.4-29.2-8.3c-20.2-13.6-28.7-33.3-29.1-56.9
                c-0.3-21.9,0-43.8,0-65.7c0-1.8,0-3.5,0-5.6c-4.5,0-8.2,0-11.9,0c-14,0-22.1,7.9-22.1,21.8c0,110.6,0,221.1,0,331.6
                c0,13.8,8.2,21.9,22.1,21.9s27.6,0,41.4,0c1.5,0,2.9-0.2,4.7-0.3v-4.9c0-27.1-0.2-54.3,0.1-81.4c0.3-26.9,21.8-48.8,48.7-49.6
                c24.9-0.6,49.9-0.3,74.8-0.2c3,0.3,5.9-1.2,7.5-3.7c9.2-13.4,20.6-25,33.8-34.5c35.5-25.4,74.6-35.4,117.9-27.3
                c8.1,1.5,15.9,3.8,24.1,5.8c0.2-0.6,0.3-1.3,0.3-1.9c0-36.7,0-73.5-0.1-110.2c-0.1-1.8-0.8-3.5-2.1-4.8c-20-20.1-40-40.1-60.1-60
                C346.1,35.2,344,34.7,341.2,33.2L341.2,33.2z M358.5,477.6c65.7,0.2,119-52.9,119.2-118.5c0-0.3,0-0.6,0-0.9
                c0-67.1-53.5-120-122-119.2c-65,0.7-117.5,54.4-116.9,121.4C239.4,424.7,293.1,477.8,358.5,477.6L358.5,477.6z M204.7,34.6H102.5
                c0,25.5-0.6,50.6,0.2,75.6c0.6,17.4,11.4,26.3,28.5,26.3c50,0,100.1-0.1,150.1,0c10.5,0,18.1-4.6,22-13.9c2.4-6.1,3.7-12.5,3.7-19
                c0.4-21.4,0.2-42.8,0.2-64.2c0-1.6-0.2-3.2-0.3-4.9h-34V102h-68.3V34.6z M214.1,409.3c-12.3-34.2-12.3-67.8,0-102.1h-5.6
                c-17.7,0-35.4,0-53,0c-12.4,0-18.9,6.6-18.9,19.1c0,25.9,0,51.9,0,77.8c0,1.6,0.1,3.3,0.2,5.2L214.1,409.3z" />
                    <path d="M346,412.3l-61.1-61.7l23-23.8c12.9,12.8,25.6,25.6,38.1,38.1l62.4-62.4l23.9,23.9L346,412.3z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("SaveAndClose")</span>
            </button>
            <button id="b4" class="btn correct submit" accesskey="s">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362.94 262.64">
                    <path d="M118.27,262.64Q59.05,203.5,0,144.56L17.69,126.9,117.88,227.32,345.2,0l17.74,18Q241.18,139.74,118.27,262.64Z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Correct")</span>
            </button>
            <button id="b5" class="btn update submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329.12 329.01">
                    <path class="cls-1" d="M.51,151.83H25.36c-2.24,52.84,16.5,96.09,60,127.08,25.3,18,54.05,26.11,85.09,24.52,66.13-3.38,119.57-50.13,131.14-114.2A138.85,138.85,0,0,0,219.16,36.35C161.38,11.71,97.85,29.38,61,72.13L89,100l-.49.83H.33V13.34L41.89,55C78.7,16.37,122.56-2.75,175,.32c39,2.28,73.13,17.16,101.67,43.91,57.46,53.88,69,140.43,28.14,206.12-42.42,68.2-125,95.58-197.86,68.1C31.92,290.12-4.85,217.91.51,151.83Z" />
                    <path class="cls-1" d="M227.64,151.59v25.32H152V50.75h25V151.59Z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Update")</span>
            </button>
        </div><!-- /.btn-group -->

        <div class="btn-group down-group" id="div67">
            <button class="btn ajaxBtn" id="b6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 591.5 800">
                    <path d="M297.07,605.45,44.84,354.12c14.88-14.82,30-29.9,45.16-45l170.31,171,2.92-1.57V0h66.61V481.19c59.45-59.46,117-117,174.64-174.7l44.88,46.67Z" />
                    <path d="M594,792H0V727.07H594Z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Download")</span>
            </button>
            <button class="btn ajaxBtn" id="b7">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 591.5 800">
                    <path d="M260,124.4L89.2,295.8l-45.4-45.4L294.9,0l250.8,250.8l-44.4,45.7L328.6,123.8v478.6h-65.8V125.9L260,124.4z" />
                    <path d="M591.3,800H-0.2v-64.7h591.5V800z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Upload")</span>
            </button>
        </div><!-- /.btn-group -->

        <div class="btn-group" id="div8">
            <button id="b8" class="btn submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 565.9">
                    <path d="M.14,0,612,283,0,565.9c3.43-11.16,6.5-21.28,9.65-31.37Q48.16,411.19,86.52,287.77c1.14-3.68.49-8.42-.7-12.24Q44.09,141.15,2,6.87C1.46,5.07,1,3.23.14,0ZM70.3,486,459.85,305.79a3,3,0,0,0-2.37-1.18q-162.74,0-325.48-.15c-5,0-6,2.41-7.12,6.05Q104.3,376.93,83.62,443.33C79.35,457.05,75.06,470.76,70.3,486Zm.64-405.55a21.29,21.29,0,0,0,.33,2.92q27,86.49,53.83,173c1.41,4.58,4,5,8,5q160.47-.11,320.94-.07c1.76,0,3.52-.22,5.28-.33l.06-1Z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Send")</span>
            </button>
        </div><!-- /.btn-group -->

        <div class="btn-group" id="div9">
            <button class="btn ajaxBtn" id="b9">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 611.91">
                    <path d="M371.32,558.69a67.16,67.16,0,0,1-62.76,53.16c-29.87,1.3-60.81-19.24-67.95-53.16h-2.45c-34.63,0-69.27.28-103.91-.08-32.83-.34-57.1-15.45-72.56-44.37-6.14-11.47-8.45-24-8.44-36.95q.06-57.51,0-115v-3.1H50.55c-12.08,0-24.16,0-36.24,0-7,0-12.19-3.79-13.76-10a19.57,19.57,0,0,1-.48-4.77c0-25.7.08-51.4-.07-77.1,0-9.21,6.66-14.81,14.64-14.63,12.07.28,24.16,0,36.24.12,2,0,2.43-.57,2.42-2.46,0-38.62,0-77.24,0-115.86,0-15.06,3.35-29.22,11.26-42.07,13.61-22.12,33.31-35.17,59.17-38.56a89.93,89.93,0,0,1,11.49-.66q51.63-.06,103.28,0c1.79,0,2.47-.46,2.87-2.29,5.36-24.67,28-45.72,52.75-49.92A67,67,0,0,1,371,52c.07.33.14.66.25,1.2H374q51.64,0,103.28,0c16,0,30.84,3.78,44.25,12.5,20.22,13.13,32.36,31.7,36.29,55.5a82.29,82.29,0,0,1,.91,13.14q.1,57.71,0,115.43v3h38.8c8.86,0,14.41,5.49,14.41,14.32q0,38.87,0,77.72c0,8.67-5.58,14.33-14.24,14.37-12.08.05-24.16,0-36.24,0h-2.73V362q0,57.83,0,115.64c0,34.3-19.93,63.48-51.88,75.9A79,79,0,0,1,478,558.69H371.32Zm-52-305.94h2.6q18,0,36,0a19.27,19.27,0,0,1,4.36.36,12.71,12.71,0,0,1,10.12,12.49c.12,26.81.06,53.63,0,80.44a11.68,11.68,0,0,1-.36,2.89c-1.65,6.41-6.71,10.19-13.78,10.22-12.15,0-24.3,0-36.45,0-.81,0-1.61.08-2.49.12,0,.71-.08,1.18-.08,1.66q0,58.67,0,117.31c0,1.35.38,1.87,1.76,2.23q34.17,8.87,47.35,41.66c1.26,3.14,2.06,6.46,3.12,9.86H405c25.56,0,51.11,0,76.67-.11a45.9,45.9,0,0,0,22.55-6.2c18.58-10.59,27.89-26.71,27.93-48.06q.12-58,0-116.06v-2.41h-2.75c-12,0-24,0-36,0-8.84,0-14.42-5.6-14.42-14.38q0-38.85,0-77.72c0-8.84,5.52-14.31,14.4-14.31h38.81v-2.42q0-58,0-116a68.66,68.66,0,0,0-1-11.45c-4.12-24.16-26.61-43-51.14-43H371.32c-.12.48-.18.74-.25,1-6.8,26.13-23.16,43-49.15,50.29-2.09.59-2.68,1.29-2.68,3.43q.12,57.6.06,115.21ZM240.6,531.92a6,6,0,0,0,.28-.63c.12-.4.22-.81.33-1.21q10.62-38.82,49.44-49.47c1.71-.47,2.14-1.06,2.14-2.75q-.07-58.12,0-116.26v-2.42H290c-12.08,0-24.16,0-36.24,0-8.73,0-14.26-5.6-14.26-14.28V267.18c0-9.05,5.37-14.42,14.46-14.42h38.63V132C265,124.7,247.71,107.4,240.54,79.8h-2.48q-51.84,0-103.69,0a72.6,72.6,0,0,0-10.62.81C99.53,84.28,79.92,107,79.9,131.48q0,59.49,0,119v2.28h2.66q18,0,36,0a19.18,19.18,0,0,1,4.36.37c6.19,1.49,10.16,6.73,10.16,13.38q0,38.87,0,77.72c0,9.53-5.39,14.93-14.91,14.94H79.88v2.44q0,57.92,0,115.84a67,67,0,0,0,.79,10.41c4,24.79,25.47,43.8,50.59,44,36,.32,72.06.11,108.09.13C239.8,532,240.21,532,240.6,531.92Z" />
                </svg>
                <span>@workflow</span>
            </button>
        </div><!-- /.btn-group -->

        <div class="btn-group" id="div10">
            <button class="btn attach ajaxBtn" id="b10">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 591.5 641.5">
                    <path d="M183.1,493.7l-33.4-36.1c14.7-13.6,29.1-27.1,43.5-40.5c80.6-74.9,161.3-149.9,241.9-224.8
                c11.2-10.4,11.9-25.4,2.1-35.7c-10.3-10.8-24.7-10.7-36.3,0.2c-74.6,69.9-149.2,139.9-223.8,209.9c-33.2,31.1-66.5,62.3-99.7,93.4
                c-28.5,26.7-36,60.4-20.5,91.7c22.2,44.6,81.1,54.9,117.4,20.7C276.6,476.3,379.1,380.1,481.6,284c17.1-16.1,35-31.4,46.7-52.7
                c39-71-5.5-164.7-85.3-178.9c-44.7-7.9-82.2,5.8-114.5,37c-40.1,38.8-80.7,77-121,115.5L64.2,341.5c-1.2,1.2-2.5,2.2-2.5,1.6
                l-36.5-32.2c14.1-13.5,26.9-25.8,39.7-38C143.1,198.2,221.2,123.3,299.7,49c64.8-61.3,161.3-64.4,229.7-8.3
                c78.5,64.4,83.5,186.8,9.7,256.7C456.5,375.6,373.2,453,290.2,530.8c-27,25.3-53.8,50.8-80.9,76c-34.9,32.6-76,43.2-121.5,29.6
                s-74.6-45.1-84.6-91.7c-9.6-44.8,2.7-84.3,35.9-115.8c76-72,152.7-143.4,229-215c33.4-31.3,66.7-62.7,100.1-94.1
                c41.5-38.9,109.4-19,122.6,36.3c6.5,27.2-0.2,51.7-20.6,70.7c-88.5,82.8-177.3,165.4-266.3,247.7C197,480.9,190.2,487.1,183.1,493.7
                z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Attachments")</span>
            </button>
        </div><!-- /.btn-group -->

        <div class="btn-group" id="div11">
            <button class="btn exit" id="b11" onclick="exit()" accesskey="e">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 591.5 583.8">
                    <path d="M583.4,180.5c-15-15.2-28.8-28.9-42.3-43c-1.5-1.6-1.9-4.8-2-7.2c-0.2-19.5-0.1-39-0.1-58.5
                c0-17.7-8.3-26-26.1-26c-147.4,0-294.9,0-442.3,0C53.2,45.8,45,54.1,45,71.6c0,147.4,0,294.9,0,442.3c0,17.4,8.4,25.8,25.6,25.8H513
                c17.4,0,26-8.7,26.1-26.3c0-19.3-0.2-38.6,0.2-57.9c0.2-3.6,1.5-7,3.9-9.7c12.8-13.5,26.1-26.5,39.4-39.9c0.7,1.3,1.2,1.8,1.2,2.4
                c0,36.6,1,73.2-0.3,109.7c-1.4,40.3-30.2,66.5-71.2,66.6c-66.5,0.1-133,0.1-199.5,0c-80.3,0-160.5,0-240.8,0
                c-23.9,0-43.7-8.1-58.4-27.4c-8.3-10.7-13.1-23-13.2-36.8c-0.2-31.9-0.3-63.9-0.2-95.8C0.2,306.9,0.5,189.1,0,71.4
                c-0.1-34.3,22-60.8,49.8-68C56.4,1.8,63.3,1,70.1,1c147.7-0.1,295.3-0.1,443-0.1c35.4,0,62.3,21.1,69.2,54c1,5,1.5,10.1,1.4,15.2
                c0.1,34.8,0.1,69.6,0.1,104.4C583.8,175.9,583.6,177.2,583.4,180.5z" />
                    <path d="M180.2,315.4v-45.2h325.9L405.3,169.4l30.8-31.6l155.4,155.5L436.6,446.9l-30.5-30.6l100.7-100.9L180.2,315.4z" />
                </svg>
                <span>@MsgUtils.Instance.Trls("Exit")</span>
            </button>
        </div><!-- /.btn-group -->
          
        <script type="text/javascript">
            $('#b9').click(function () {
                var url = "@Url.Action("WorkFlow", "LeaveType")";
                $.get(url, { source: source, sourceid: sourceId }, function (data) {
                    $('#workFlowBody').html(data);
                    $('#workFlowModal').modal('show');
                    
                });
            });

            $('#b7').click(function () {
                var url = "@Url.Action("_UploadFile", "Home")";
                $.get(url, { source: source, sourceid: sourceId }, function (data) {
                    $('#bodyContainer').html(data);
                    $('#UploadPopup').modal('show');
                });
            });

            function showToolbar(buttons, myform) {
                if (myform) $('.save-group').find('button').attr('disabled', $(myform).attr('data-disable') != 'true');
                if (buttons.length == 0) {
                    $('div.btns-form').hide();
                    return;
                }
                else $('div.btns-form').show();

                var d = "div";
                for (var i = 1; i <= 11; i++) {
                    if (buttons.includes(i))
                        $('#b' + i).show();
                    else {
                        $('#b' + i).hide();
                        d += i;
                    }

                    if ([5,7,8,9,10,11].includes(i)) {
                        if (['div12345','div67','div8','div9','div10','div11'].includes(d)) $('#' + d).hide();
                        d = "div";
                    }
                }
            }


            function exit() {
                updateHistory(oldUlr);
            }

            $(document).keydown(function (key) {
                if ((key.ctrlKey || key.metaKey) && key.which == 83) {
                    $('#b1').click();
                    key.preventDefault();
                    return false;
                } //else if ((key.ctrlKey || key.metaKey) && key.which == 69) {
                //    updateHistory(oldUlr);
                //    key.preventDefault();
                //    return false;
                //}
            }
            );
        </script>
    </div>
</div><!-- /.toolbar -->

<style type="text/css">
    .modal-backdrop{
        display: none;
    }
</style>