
@using WebApp.Extensions
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Index";
    Layout = null;
    var rtl = User.Identity.RTL();
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    var admin = User.Identity.CanCustomize();
    string[] function = ViewData["Functions"] as string[];
}

@Html.Partial("_RequestFilters", new ViewDataDictionary { { "GridName", "EmpDisciplinDiv" }, { "HasDepts", "false" }, { "HasRange", "false" }, { "Functions", function }, { "TableName", "EmpDisciplines" } })
<div id="EmpDisciplinDiv"></div>

<script>
    var addUrl = "@Url.Action("EmpDisciplineDetails", "Discipline")";
    RequestFilters.applyAllFilters([], {}, "EmpDisciplinDiv", "@Url.Action("ReadEmpDiscipline", "Discipline")?MenuId=@Request.QueryString["MenuId"]", addUrl);
    
    //var EmpId = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.EmpId));
    var DiscplinId = @Html.Raw((new JavaScriptSerializer()).Serialize(ViewBag.DiscplinId));

    var columns = [{field:"EmpId",
                   template: "<div><img class='k-people-photo' src=#:Exist(data.Gender,data.Image)# />&nbsp;<i class='ace-icon fa fa-circle stat#:EmpStatus#'></i>&nbsp;<span class='k-people-name'>#: EmpId #</span></div>",
                   locked:true},
                   {field:"DiscplinId",values:DiscplinId}];

    Grids.indexGrid({
        read: "@Url.Action("ReadEmpDiscipline", "Discipline")?MenuId=@Request.QueryString["MenuId"]",
        show:"@Url.Action("EmpDisciplineDetails", "Discipline")",
    edit: "@Url.Action("EmpDisciplineDetails", "Discipline")",
    del: "@Url.Action("DeleteEmpDiscipline", "Discipline")",
    objectName: "EmpDiscipline",  // name of the page or table name used to create local db key
    recordName: "EmpId", // custom delete message
    gridName: "EmpDisciplinDiv",
    admin: "@admin",
    lang: "@User.Identity.GetCulture()",
        columns: columns,
        toolbar:'<div></div>',
    select: {"DiscplinId":DiscplinId }
    });

</script>







