@model WebApp.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Account/Hrlogin.cshtml";
    ViewBag.Title = "Forgot your password?";
    var compantId = User.Identity.GetDefaultCompany();
    //var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}

<div class="login-form">
    <div class="login-right">
        <div class="sap_tabs">
            <div id="horizontalTab">
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        <div class="login-top">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "text-input", autocomplete = "off", placeholder = "Enter UserName" })
                                    <span></span>
                                    <b>@Html.ValidationMessageFor(m => m.Username, "", new { id = "userValidator", @class = "text-danger" })</b>

                                    @*<input type="text" class="form-control  email" placeholder="Email" required="" />*@
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "text-input", autocomplete = "off", placeholder = "Enter Email" })
                                    <span></span>
                                    <b>@Html.ValidationMessageFor(m => m.Email, "", new { id = "userValidator", @class = "text-danger" })</b>

                                    @*<input type="text" class="form-control  email" placeholder="Email" required="" />*@
                                </div>


                                <div class="submit">

                                    <input type="submit" id="log" class="btn-submit" value="Send" />
                                </div>

                                <div class="clear"></div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>



@section Lscripts{
   
    <script>
        $(function () {
            localStorage.setItem("Antiforgery", $("input[name='__RequestVerificationToken']").val());
            

            var userName = Cookies.get("userName");

            if (userName) {
              

                $("#Username").val(userName);
                $("#Username").attr('readonly', true);
            }
            else {
                $("#Username").val("");
            }
            var userEmpId = Cookies.get("userEmpId");
            if (!userEmpId) {
                $(".login-left").hide();
                $(".login-right").addClass("login-right-no-user");
                $(".submit").addClass("submit-no-user");

            }
        });
    </script>
}






@*@model WebApp.Models.ForgotPasswordViewModel
    @{
        ViewBag.Title = "Forgot your password?";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundels/jqueryval")
    }*@
