@model WebApp.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Account/Hrlogin.cshtml";
    ViewBag.Title = "Reset password";
    var compantId = User.Identity.GetDefaultCompany();
    //var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}


<div class="login-form">
    <div class="login-right">
        <div class="sap_tabs">
            <div id="horizontalTab">
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        <div class="login-top">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken();
                                @Html.HiddenFor(model => model.UserName);
                                @Html.HiddenFor(model => model.OldPassword);
                                @Html.HiddenFor(model => model.Code)
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "text-input", autocomplete = "off", placeholder = "Enter Password" })
                                    <span></span>
                                    <b>@Html.ValidationMessageFor(m => m.Password, "", new { id = "userValidator", @class = "text-danger" })</b>

                                    @*<input type="text" class="form-control  email" placeholder="Email" required="" />*@
                                </div>

                                <div class="form-group">

                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-input", autocomplete = "off", placeholder = "Confirm password" })
                                    <span></span>
                                    <b>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { id = "passValidator", @class = "text-danger" })</b>
                                </div>


                                <div class="submit">

                                    <input type="submit" id="log" class="btn-submit" value="Confirm" />
                                </div>

                                    <div class="clear"></div>

                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>


@section Lscripts{
 
    <script>
        $(function () {
            localStorage.setItem("Antiforgery", $("input[name='__RequestVerificationToken']").val());
            var userEmpId = Cookies.get("userEmpId");
            if (!userEmpId) {
                $(".login-left").hide();
                $(".login-right").addClass("login-right-no-user");
                $(".submit").addClass("submit-no-user");
            }
        });
    </script>
}


@*@model WebApp.Models.ResetPasswordViewModel
    @{
        ViewBag.Title = "Reset password";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Lang, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                <select id="Lang" name="Lang" class=" form-control"> </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundels/jqueryval")

    <script src="~/Scripts/cultures/lang.js"></script>
    <script>
        $(function () {
            var items = "";
            var list = lang.getList();
            for (var i = 0; i < list.length; i++) {
                items += '<option value=' + list[i].id + '>' + list[i].name + '</option>';
            };

            $("#Lang").append(items);
        });
    </script>
    }*@
