@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    var admin = User.IsInRole("Admin");
    var rtl = User.Identity.RTL();
    var grid = ViewData["GridName"];
    Layout = null;
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
}
<style>
    .Percent {
         width: 80%;
       max-width:330px;
    }
</style>
<div id="TrainPathPeople"></div>

<script>
    var objectName = "EmployeeTrainPath";
    var gridname = "'TrainPathPeople'";

    Grids.indexGrid({
    read: "@Url.Action("ReadEmployeeTrainpath", "Training", new { id = ViewBag.Id })",
    admin: "@admin", // Admin role
    lang: "@User.Identity.GetCulture()",
    objectName: objectName,
    recordName: "Name", // custom delete message
    gridName: "TrainPathPeople",
    toolbar: '<div><div class="btn-group"><button type="button" class="btn btn-default btn-sm fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>&nbsp;</button><ul class="dropdown-menu"><li><a class="fa fa-save" onclick="Grids.saveGrid(' + gridname + ')"><span>&nbsp;&nbsp;&nbsp; @MsgUtils.Instance.Trls("SaveGrid")</span></a>&nbsp;&nbsp;</li></ul></div></div>',
    columns: [{ field: "Percent", template: "<div class='Percent'></div>" }],
    dataBound: function (e) {
        var gridName = this.gridName;
        var cols = this.columns;

        var progCol = $.grep(cols, function (el) { if (el.field == "Percent") return el });
        $(".Percent").each(function () {
            $(this).parent("td").attr("style", "padding: 0");
            var model = e.sender.dataItem($(this).closest("tr"));
            if (model != null) {
                $(this).kendoProgressBar({
                    value: model.Percent,
                    type: "percent",
                    max: 100
                });
            }
        });
        $('.Percent').hover(function () {
            var me = $(this);

            var model = e.sender.dataItem(me.closest("tr"));
            var CourseIds = [];
            for (var i = 0; i < model.CourseIds.length; i++) {
                CourseIds.push(model.CourseIds[i]);
            }
            if (model != null) {

                $.ajax({
                    url: "@Url.Action("GetMissCourses","Training")",
                    type: "POST",
                    data: {
                        CourseIds: CourseIds, Id: model.Id
                    },
                    success: function (data) {
                        var msg = "";
                        for (var i = 0 ; i < data.length; i++) {
                            msg += data[i].Name
                            if (i == data.length - 1)
                                msg += "";
                            else
                                msg += ",";
                        }
                        me.popover({ content: msg }).popover('show');
                    },
                    error: function (result) {
                    }
                });

            }
        }, function () {
            $(this).popover('hide');
        });
    }
   });
</script>


