@using System.Web.Script.Serialization
@using Model.ViewModel
@model AddLocationViewModel
@using WebApp.Extensions

@{
    Layout = null;
    var admin = User.IsInRole("Admin");
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetLanguage();
    var rtl = User.Identity.RTL();
}



<br />
<br />
<div id="LocationDiv">

</div>




<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/cultures/timezone.js"></script>


<script>
    var model;
    $(function () {

      // Back to index
        var oldPage = localStorage.getItem("menuhigh").split(",");
        oldulr = $("#"+ oldPage[2] + " a").attr("href");

        ///---#Region Location Form

        //serialize The model to JavaScript to send to form.js
        model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model))
        var url = "@Url.Action("ReadFormInfo", "Pages")";
        var timezoneSrc = timeZoneList.getTimeZone("@culture");


        //Give Id for the form that will Show
        var formId = "LocationForms";

        //If you press on Button Show it will be read only
        var read = "@Request.QueryString["Read"]";

        //Send the serialized model and props to form.js
        $.getJSON(url, { objectname: 'FormLocation', version: "@Request.QueryString["Version"]", RoleId: "@Request.QueryString["RoleId"]" }, function (data) {
            data.FormAction = "@Url.Action("Details", "Location")";
            data.FormId = formId;
            data.Culture = '@culture';
            data.TableName = "Locations";
            data.companyId = "@User.Identity.GetDefaultCompany()";
            data.admin = '@admin';
            if(read == 1) data.mode = 'show';
            data.rtl = @rtl.ToString().ToLower();
            //Append the form to the div
            $("#LocationDiv").Forms(data, model);

            //Make Hiddenfield for Address
            var hiddenFields = "<input type='hidden' name='AddressId' id='myAddress' value='" + (model.AddressId != null ? model.AddressId : "") + "'>";
            hiddenFields+=  "<input type='hidden' name='CompanyId' id='CompanyId' value='" + (model.CompanyId != null ? model.CompanyId : "") + "'>";
            $("#" + formId).append(hiddenFields);

            //Fill The autocomplete for TimeZone with Id and value
            FormJs.fillOptionsDynamic($("#" + formId), "TimeZone", timezoneSrc, model);
            
            //Translate The Button saveChanges from ColumnsTilte based on Culture
            $("#" + formId).find('#saveChanges').val('@MsgUtils.Instance.Trls("SaveChanges")');
          $("#" + formId).find('#backToIndex').val('@MsgUtils.Instance.Trls("backToIndex")');

            //in NewLocation Clear The startDate Because it comes with the initalized date 1/1
            if(model.Id == 0)
                $("#"+formId).find('#StartDate').val("");

            $("#" + formId).on('blur', "#EndDate",function(){
                var elem = $(this);
                if($('#StartDate').val() != ""){
                    $('#StartDate').removeClass("k-invalid").prop("aria-invalid", false);
                    $('#StartDate').next("span.k-tooltip-validation").remove();
                }
                elem.removeClass("k-invalid").prop("aria-invalid", false);
                elem.next("span.k-tooltip-validation").remove();

                if(elem.val()!=""){
                    var valueinDays=($("#StartDate").data("kendoDatePicker").value()-elem.data("kendoDatePicker").value())/(1000*3600*24);
                    if(valueinDays > 0){
                        if (elem && !elem.hasClass("k-invalid")) {
                            elem.addClass("k-invalid").prop("aria-invalid", true);
                            elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='EndDate' role='alert'>@MsgUtils.Instance.Trls("EndDateGthanStartDate")</span>");
                        } 
                    }
                }
            });
            $("#" + formId).on('blur','#StartDate', function(){
                        
                var elem = $(this);
                     
                if(elem.val() != ""){
                    var valueinDays=(elem.data("kendoDatePicker").value()-$("#EndDate").data("kendoDatePicker").value())/(1000*3600*24);
                    if(valueinDays > 0 && $('#EndDate').val() != ""){
                        if (elem && !elem.hasClass("k-invalid")) {
                            elem.addClass("k-invalid").prop("aria-invalid", true);
                            elem.after("<span class='k-widget k-tooltip k-tooltip-validation k-invalid-msg' data-for='StartDate' role='alert'>@MsgUtils.Instance.Trls("StartDateLThanEndDate")</span>");
                        }
                    }
                    else{

                        $('#EndDate').removeClass("k-invalid").prop("aria-invalid", false);
                        $('#EndDate').next("span.k-tooltip-validation").remove();
                        elem.removeClass("k-invalid").prop("aria-invalid", false);
                        elem.next("span.k-tooltip-validation").remove();
                    }
                }
            });


        });

        //Showing The Address Popup on focus field
        $("#LocationDiv").on("focus","#Address",null,function(e){
            e.preventDefault();
            var url = $('#AddressPopup').data('url');
            var id = $("#myAddress").val() || 0;

            //Getting Data and fill it on fields
            $.get(url+"?Version=@Request.QueryString["Version"]", {addressId: id}, function(data) {
                $('#bodyContainer').html(data);
                $('#AddressPopup').modal('show');

            });

        });


        //Save Address Form
        $("#AddressPopup").on("click","#saveAddress",null,function(e){
            e.preventDefault();
            FormJs.saveForm($("#AddressForm"), $(this), function(data) {
                var addres=  data.Address1  + (data.Address2 ? ", " + data.Address2 : "") + (data.Address3 ? ", " + data.Address3 : "");
                $("#LocationDiv").find('#Address').val(addres);
                $("#myAddress").val(data.Id);
                $('#AddressPopup').modal('hide');
            });

        });
       

        // Find Button BackToindex and bind for Click
        $('#LocationDiv').on('click',"#backToIndex",null, function(){
            $("#renderbody").load(oldulr);
        });

        // Save Location Form
        $("#LocationDiv").on('click',"#saveChanges",null, function (e) {
            if($("#" + formId).find(".k-invalid").length > 0) return ;
            FormJs.saveForm($("#"+formId), $(this), function () {
                toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                $("#renderbody").load(oldulr);
            });
        });


        

    });

</script>

<div class="modal fade" id="AddressPopup" data-url='@Url.Action("GetAddress", "Company")' tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Address</h4>
            </div>
            <div id="bodyContainer" class="modal-body" tabindex="0">
                
            </div>
       </div>
    </div>
</div>



