
@using WebApp.Extensions

@{
    ViewBag.Title = "Index";
    Layout = null;
    var rtl = User.Identity.RTL();
    var admin = User.IsInRole("Admin");
    int dataLevel = 4, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];
}

@Html.Partial("_RequestFilters", new ViewDataDictionary { { "GridName", "Location" }, { "HasDepts", "false" }, { "Functions", function }, { "TableName", "Locations" } })
<div id="Locations"></div>

<script>
    $("#NicePen").hide();
    var addUrl = "@Url.Action("Details", "Location")";
    RequestFilters.ApplayAllFilters([], {}, "Location", "@Url.Action("GetLocation", "Location")?MenuId=@Request.QueryString["MenuId"]", addUrl);
    var grid = "'Locations'";
    Grids.indexGrid({
        read: "@Url.Action("GetLocation", "Location")?MenuName=@ViewBag.IsInternal",
        show: "@Url.Action("Details", "Location")",
        edit: "@Url.Action("Details", "Location")",
        del: "@Url.Action("DeleteLocation", "Location")",
        objectName: "Locations",  // name of the page or table name used to create local db key
        gridName: "Locations",
        recordName: "Name",
        admin: "@admin",
        lang: "@User.Identity.GetCulture()",
        columns: [{
            field: "IsLocal",
            template: '<input  type="checkbox" #:IsLocal == true ? "checked" : ""# disabled />'
        }, {
            field: "IsInternal",
            template: '<input  type="checkbox" #:IsInternal == true ? "checked" : ""# disabled />'
        }],
        toolbar: '<div style="float: left"><div class="btn-group"><button type="button" class="btn btn-sm btn-default glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button><ul class="dropdown-menu" id="toolsMenu">@if(admin == true){<li><a class="glyphicon glyphicon-floppy-save" onclick="Grids.saveGrid(' + grid + ')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveGrid")</span></a></li>}' +
                '@if (function != null && function.Length > 0){if (Array.Exists(function, f => f == "ExportExcel")){<li><a class="fa fa-file-powerpoint-o" onclick="Grids.saveAsXsl(' + grid + ')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveAsExcel")</span></a></li>}if (Array.Exists(function, f => f == "ExportPdf")){<li><a class="fa fa-file-powerpoint-o" onclick="Grids.saveAsPdf(' + grid + ')"><span>&nbsp; @MsgUtils.Instance.Trls("SaveAsPDF")</span></a></li>}}' +
                '<li><a class="glyphicon glyphicon-trash" onclick="Grids.resetGrid(' + grid + ')"><span>&nbsp; @MsgUtils.Instance.Trls("ResetGrid")</span></a></li> </ul></div></div>&nbsp;&nbsp;</div>',
    });
</script>  
