
@using System.Web.Script.Serialization
@using WebApp.Extensions

@{
    Layout = null;
    var admin = User.IsInRole("Admin");
    var compantId = User.Identity.GetDefaultCompany();
    var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
    var version = Request.QueryString["Version"];

}


<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/cultures/lang.js"></script>
<div id="pageTabs"></div>

<script>
  
    $(function () {
        var result;
        $.ajax({
            url: "@Url.Action("ReadLanguage","AudiTrial")",
            async: false,
        success: function (data) {
            result = data;
        },
        error: function (result) {

        }
    });
        var culture = lang.getList("@culture");      

    var Arr = [];
    for (var i = 0; i <= result.length ; i++ )
    {
        for (var z = 0; z <= culture.length-1 ; z++ )
        {
            if (culture[z].id) { 
                if (result[i] == culture[z].id) {
                    var obj = { name: culture[z].name, id: result[i] };
                    Arr.push(obj);
                }
            }
        }
    }
        // Back to index
        var oldPage = localStorage.getItem("menuhigh").split(",");
        oldulr = $("#"+ oldPage[2] + " a").attr("href");
        FormJs.DrawTabs("pageTabs");

        $("#t_Translation").click(function () {
            $("#tab_LanguageCopy").empty();
            $('#tab_Translation').load("@Url.Action("TranslationIndex", "AudiTrial")?RoleId=@Request.QueryString["RoleId"]&MenuId=@Request.QueryString["MenuId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
        });

        var oldPage = localStorage.getItem("menuhigh").split(",");
        oldulr = $("#"+ oldPage[2] + " a").attr("href");

        $("#t_LanguageCopy").click(function () {
            $('#tab_Translation').empty();
            $("#tab_LanguageCopy").html("<div id='LangDiv'></div>");
            var model = @Html.Raw((new JavaScriptSerializer()).Serialize(Model))
            var url = "@Url.Action("ReadFormInfo", "Pages")";
            var formId = "PersonnelSettingForm";
            var read = "@Request.QueryString["Read"]";
            var dataLevel= "@Request.QueryString["DataLevel"]";
            $.ajax({
                async: false,
                url: "@Url.Action("ReadFormInfo","Pages")",
                type: "GET",
                dataType: "json",
                contentType: 'application/json',
                data: { objectname: 'langForm', version: "@Request.QueryString["Version"]", RoleId: "@Request.QueryString["RoleId"]" },
                success: function (data) {
                    data.FormId = formId;
                    data.TableName ="MsgTbl";
                    data.FormAction = "@Url.Action("CopyLanguage", "AudiTrial")";
                    data.Culture = "@User.Identity.GetCulture()";
                    data.rtl = @rtl.ToString().ToLower();
                    data.companyId = "@User.Identity.GetDefaultCompany()";
                    data.admin = "@admin";

                    $("#LangDiv").Forms(data, model);
                    FormJs.fillOptionsDynamic($("#" + formId), "Source", Arr);
                    FormJs.fillOptionsDynamic($("#" + formId), "Destination", culture);    
                    
                    $("#" + formId).find('#Copy').val('@MsgUtils.Instance.Trls("Copy")');                  
         
                },
                error: function (data) {
                }
            });

           //Grid
           
            $("#LangDiv").on('click',"#Copy",null, function (e) {
                FormJs.saveForm($("#"+formId), $(this), function () {
                    toastr.success("@MsgUtils.Instance.Trls("SaveComplete")");
                    $("#" + formId).find('#Copy').attr("disabled", "true");
                });
            });
          
        });

        $("#t_Translation").click();       

    });


</script>




