
@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    Layout = null;
    var admin = User.IsInRole("Admin");
    int dataLevel = 4, read = 0;
    var rtl = User.Identity.RTL();
    var culture = User.Identity.GetCulture();
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];
}
@Html.Partial("_RequestFilters", new ViewDataDictionary { { "HasDepts", "false" }, { "HasRange", "false" }, { "Functions", function }, { "TableName", "MedicalRequests" } })
<div id="acceptedMedical"></div>

<script>
    var addUrl = "@Url.Action("AcceptedMedicalDetails", "Medical")";
    RequestFilters.ApplayAllFilters([], {}, "acceptedMedical", "@Url.Action("ReadAcceptedMedical", "Medical")?MenuId=@Request.QueryString["MenuId"]", addUrl);
    var grid = "'acceptedMedical'";
    var approvalStatus = [
         { value: 1, text: '@MsgUtils.Instance.Trls("Darft")' },
         { value: 2, text: '@MsgUtils.Instance.Trls("Submit")' },
         { value: 3, text: '@MsgUtils.Instance.Trls("AprovalEmployeeReview")' },
         { value: 4, text: '@MsgUtils.Instance.Trls("ManagerReview")' },
         { value: 5, text: '@MsgUtils.Instance.Trls("Accepted")' },
         { value: 6, text: '@MsgUtils.Instance.Trls("Approved")' },
         { value: 7, text: '@MsgUtils.Instance.Trls("Cancel before accepted")' },
         { value: 8, text: '@MsgUtils.Instance.Trls("Cancel after accepted")' },
         { value: 9, text: '@MsgUtils.Instance.Trls("Rejected")' }
    ];

    function Exist(data) {
        if (data.HasImage)
            return "url(../SpecialData/Photos/"+@User.Identity.GetDefaultCompany().ToString()+"/"+data.EmpId+".jpeg?dummy="+(new Date().getTime())+")"
        else
            return "url(/SpecialData/Photos/noimage.jpg)"
    }

    var columns = [
          {
              field: "Employee",
              template: "<div class='k-people-photo' " +
                              "style='background-image: #:Exist(data)# '></div>" +
                              "&nbsp;&nbsp;&nbsp;<div class='k-people-name'>#:Employee#</div>"
          },
          { field: "ApprovalStatus", values: approvalStatus }
    ];
    
    Grids.indexGrid({
        read: "@Url.Action("ReadAcceptedMedical", "Medical")?MenuId=@Request.QueryString["MenuId"]",
        show: "@Url.Action("AcceptedMedicalDetails", "Medical")",
        edit: "@Url.Action("AcceptedMedicalDetails", "Medical")",
        objectName: "AcceptedMedical",
        gridName: "acceptedMedical",
        recordName: "Name",
        admin: "@admin",
        lang: "@User.Identity.GetCulture()",
        recordName: "Employee",
        toolbar:'<div></div>',
        columns: columns,
        select: { "ApprovalStatus": approvalStatus }
    });
</script>
