@using WebApp.Extensions
@using System.Web.Script.Serialization
@{
    Layout = null;
    var admin = User.Identity.CanCustomize();
    int dataLevel = 4, read = 0;
    var rtl = User.Identity.RTL();
    var culture = User.Identity.GetCulture();
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
    string[] function = ViewData["Functions"] as string[];
}


<br />
<div id="ServSettlement"></div>

<script>

    var columns = [
              {
                  field: "Employee",
                  template: "<div><img class='k-people-photo' src=#:Exist(data.Gender,data.Attachement)# />&nbsp;<span class='k-people-name'>#: Employee #</span></div>",
                  locked: true
              }
    ];
    Grids.indexGrid({
        read: "@Url.Action("ReadMedicalFollowUp","Medical")?MenuId=@Request.QueryString["MenuId"]",
        objectName: "ServiceSettlement",
        tabeName: "BenefitRequests",
        recordName: "Employee",
        gridName: "ServSettlement",
        admin: "@admin",
        columns: columns,
        lang: "@User.Identity.GetCulture()"

    });

</script>
@Html.Partial("_IndexGrid", new ViewDataDictionary {
    { "AddRecord", @Url.Action("Details", "Medical") },
    { "Admin", admin}, { "GridName", "ServSettlement" }})


